{% extends 'mentor/mentors_homepage.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/mentor/mentors_session_overview.css' %}">
<form method="POST">
    {% csrf_token %}
    <div class="card-1">
        <div class="row">
            <div class="card-2">
                <table id="sessions">
                    <tr>
                        <td style="text-align: left;">
                            <button class="btn-session">Request by theme 1</button>
                        </td>
                        <td>&#128993</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">
                            <button class="btn-session">Request by theme 2</button>
                        </td>
                        <td></td>
                        <td>&#128994</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">
                            <button class="btn-session">Request by theme 3</button>
                        </td>
                        <td>&#128993</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">
                            <button class="btn-session">Request by theme 4</button>
                        </td>
                        <td>&#128993</td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="card-3">
                <table>

                </table>
            </div>
        </div>
        <div class="card-4">
            <button name="option" value="create_session" type="submit" class="card-4-button">CREATE</button>
            <button name="option" value="delete_session" type="submit" class="card-4-button">DELETE</button>
        </div>
    </div>
</form>
{% endblock %}
