{% extends 'ua/teacher_ua/teachers_homepage_ua.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/teacher/teachers_create_event.css' %}">
<div class="card-1">
    <h1 class="label">Дати турніра</h1>
    <div class="row">
        <div class="card-2">
            <input name="tournament_start_date" type="date">
        </div>
        <div class="card-3">
            <input name="tournament_end_date" type="date">
        </div>
    </div>
    <h1>Дати реєстрації</h1>
    <div class="row">
        <div class="card-2">
            <input name="registration_start_date" type="date">
        </div>
        <div class="card-3">
            <input name="registration_end_date" type="date">
        </div>
    </div>
    <h1>Час турніра</h1>
    <div class="row">
        <div class="card-2">
            <input name="tournament_start_time" type="time">
        </div>
        <div class="card-3">
            <input name="tournament_end_time" type="time">
        </div>
    </div>
    <h1 class="label">Мова програмування</h1>
    <div class="row">
        <div class="card-4">
            <button class="card-4-button">
                <img src="{% static 'images/python.png' %}">
            </button>
            <button class="card-4-button">
                <img src="{% static 'images/golang.png' %}" style="width: 90px;">
            </button>
            <button class="card-4-button">
                <img src="{% static 'images/c#.png' %}">
            </button>
            <button class="card-4-button">
                <img src="{% static 'images/c++.png' %}">
            </button>
        </div>
        <div class="card-5">
            <button class="card-5-button">
                <img src="{% static 'images/javascript.png' %}">
            </button>
            <button class="card-5-button">
                <img src="{% static 'images/php.png' %}" style="width: 80px;">
            </button>
            <button class="card-5-button">
                <img src="{% static 'images/java.png' %}" style="width: 80px;">
            </button>
            <button class="card-5-button">
                <img src="{% static 'images/r.png' %}">
            </button>
        </div>
    </div>
    <h1 class="label">Теми</h1>
    <div class="row">
        <div class="card-6">
            <button class="card-6-button">Темa</button>
            <button class="card-6-button">Темa</button>
            <button class="card-6-button">Темa</button>
            <button class="card-6-button">Темa</button>
            <button class="card-6-button">Темa</button>
            <button class="card-6-button">Темa</button>
            <button class="card-6-button">Темa</button>
            <button class="card-6-button">Темa</button>
        </div>
        <div class="card-7">
            <button class="card-7-button">Темa</button>
            <button class="card-7-button">Темa</button>
            <button class="card-7-button">Темa</button>
            <button class="card-7-button">Темa</button>
            <button class="card-7-button">Темa</button>
            <button class="card-7-button">Темa</button>
            <button class="card-7-button">Темa</button>
            <button class="card-7-button">Темa</button>
        </div>
        <div class="card-8">
            <button class="card-8-button">Темa</button>
            <button class="card-8-button">Темa</button>
            <button class="card-8-button">Темa</button>
            <button class="card-8-button">Темa</button>
            <button class="card-8-button">Темa</button>
            <button class="card-8-button">Темa</button>
            <button class="card-8-button">Темa</button>
            <button class="card-8-button">Темa</button>
        </div>
        <div class="card-9">
            <button class="card-9-button">Темa</button>
            <button class="card-9-button">Темa</button>
            <button class="card-9-button">Темa</button>
            <button class="card-9-button">Темa</button>
            <button class="card-9-button">Темa</button>
            <button class="card-9-button">Темa</button>
            <button class="card-9-button">Темa</button>
            <button class="card-9-button">Темa</button>
        </div>
    </div>
    <h1 class="label">Складність</h1>
    <div class="row">
        <div class="card-10">
            <button class="card-10-button">Легко</button>
            <button class="card-10-button">Середньо</button>
        </div>
        <div class="card-11">
            <button class="card-11-button">Складно</button>
            <button class="card-11-button">Дуже складно</button>
        </div>
    </div>
    <h1 class="label">Тривалість турнірy</h1>
    <div class="row">
        <div class="card-12">
            <button class="card-12-button">5 хв</button>
            <button class="card-12-button">10 хв</button>
            <button class="card-12-button">15 хв</button>
        </div>
        <div class="card-13">
            <button class="card-13-button">20 хв</button>
            <button class="card-13-button">25 хв</button>
            <button class="card-13-button">30 хв</button>
        </div>
    </div>
    <h1 class="label">Теорія / практика</h1>
    <div class="row">
        <div class="card-14">
            <button class="card-14-button">20/80</button>
            <button class="card-14-button">40/60</button>
        </div>
        <div class="card-15">
            <button class="card-15-button">60/40</button>
            <button class="card-15-button">80/20</button>
        </div>
    </div>
    <h1 class="label">Вибір назви</h1>
    <div class="row">
        <div class="card-16">
            <button class="card-16-button">Тижневий</button>
            <button class="card-16-button">Місячний</button>
            <button class="card-16-button">Заліковий</button>
            <button class="card-16-button">Контрольний</button>
        </div>
        <div class="card-17">
            <button class="card-17-button">Осінній</button>
            <button class="card-17-button">Зимовий</button>
            <button class="card-17-button">Весняний</button>
            <button class="card-17-button">Літній</button>
        </div>
        <div class="card-18">
            <button class="card-18-button">Турнір</button>
            <button class="card-18-button">Чемпіонат</button>
            <button class="card-18-button">Челендж</button>
            <button class="card-18-button">Фінал</button>
        </div>
    </div>
    <h1 class="label">Вибір баджа</h1>
    <div class="row">
        <div class="card-19">
            <button class="card-19-button"></button>
            <button class="card-19-button"></button>
            <button class="card-19-button"></button>
            <button class="card-19-button"></button>
        </div>
        <div class="card-20">
            <button class="card-20-button"></button>
            <button class="card-20-button"></button>
            <button class="card-20-button"></button>
            <button class="card-20-button"></button>
        </div>
        <div class="card-21">
            <button class="card-21-button"></button>
            <button class="card-21-button"></button>
            <button class="card-21-button"></button>
            <button class="card-21-button"></button>
        </div>
        <div class="card-22">
            <button class="card-22-button"></button>
            <button class="card-22-button"></button>
            <button class="card-22-button"></button>
            <button class="card-22-button"></button>
        </div>
        <div class="card-23">
            <button class="card-23-button"></button>
            <button class="card-23-button"></button>
            <button class="card-23-button"></button>
            <button class="card-23-button"></button>
        </div>
        <div class="card-24">
            <button class="card-24-button"></button>
            <button class="card-24-button"></button>
            <button class="card-24-button"></button>
            <button class="card-24-button"></button>
        </div>
        <div class="card-25">
            <button class="card-25-button"></button>
            <button class="card-25-button"></button>
            <button class="card-25-button"></button>
            <button class="card-25-button"></button>
        </div>
        <div class="card-26">
            <button class="card-26-button"></button>
            <button class="card-26-button"></button>
            <button class="card-26-button"></button>
            <button class="card-26-button"></button>
        </div>
    </div>
    <button class="btn-confirm">ПІДТВЕРДИТИ ПОДІЮ</button>
</div>
{% endblock %}
