{% extends 'ua/teacher_ua/teachers_homepage_ua.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/teacher/teachers_mentor.css' %}">
<div class="card-1">
    <div class="row">
        <div class="card-2">
            <table>

            </table>
        </div>
        <div class="card-3">
            <button class="btn">ЗВЕРНЕННЯ</button>
            <button class="btn">СЕСІЯ</button>
            <button class="btn">СТАТИСТИКА</button>
        </div>
    </div>
</div>
{% endblock %}
