/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  left: 25px;
  top: 13px;

  width: 30px;
  height: 27px;

  transition: opacity 0.7s ease, top 0.8s ease;

  &.hide {
    top: -25%;
  }

  @media screen and (min-width: 1024px) {
    top: 15px;
  }
}

#react-burger-menu-btn {
  // border: 1px solid red !important;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #ffffffa8;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  // background: rgb(211, 143, 18);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;

  width: 150px !important;
  height: 100%;

  top: 0;
  left: 0;

  & svg {
    width: 50px;
    height: 50px;
  }
}

/* General sidebar styles */
.bm-menu {
  background: #122f52;
  // padding: 2.5em 1.5em 0;
  // font-size: 1.15em;
  font-size: 21px;

  @media screen and (max-width: 767px) {
    padding: 15px;
  }
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  // padding: 10px;

  display: flex;
  flex-direction: column;
  // gap: 10px;
  gap: 0;

  height: initial;

  @media screen and (min-width: 768px) {
    // gap: 9px;
    // border-right: 2px solid #718096;
  }
}

.bm-item-list a.logo-header {
  margin-left: 0;
  margin-bottom: 10px;
}

/* Individual item */
.bm-item {
  display: inline-block;
  padding: 5px;

  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // &:not(:first-child) {
  //   border-top: 1px solid gray;
  // }
}

.bm-item:is(:hover) {
  color: #123257;
  background-color: #fcbc7d;

  transition: background-color 350ms ease, color 350ms ease, stroke 350ms ease;

  .icon-stroke {
    stroke: #123257;
  }
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  top: 0px;
  left: 0px;
}
