{% extends 'ua/users_homepage_ua.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/users_store.css' %}">
<div class="card-1">
    <div class="label">
        <h3>Магазин</h3>
    </div>
    <div class="card-2">
        <p><b>Станьте професіоналом швидше</b></p>
        <p>Весь контент доступний</p>
        <p>Усі тести необмежені</p>
        <p>Гнучкий графік тестування</p>
    </div>
    <div class="row">
        <div class="text">
            <p>1 місяць 200 грн одна мова програмування</p>
        </div>
        <div class="text">
            <p>12 місяців 1200 грн одна мова програмування</p>
        </div>
        <div class="text">
            <p>12 місяців 2400 грн всі мови програмування</p>
        </div>
    </div>
</div>
{% endblock %}
