.auth-active {
  color: #fcbc7d;
}

.auth-icons {
  width: 28px;
  height: 28px;
  margin: 0 20px;
}

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  min-height: 100vh;
  background: linear-gradient(160deg, #163a65 43.75%, #163a65 100%);
}

.auth .logo-header {
  margin-top: 37px;
}

.auth form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.auth form label {
  outline: transparent;
  border: 1px solid transparent;
}

.auth form label:hover {
  border: 1px solid #265b9c;
}

.auth .title {
  margin-top: 10px;
  margin-left: 10px;
  width: 200px;
  height: 50px;
}

.auth .joo-header {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 110px;
  font-weight: 900;
  font-size: 100px;
  font-family: Galatea, Mulish;
  background-image: linear-gradient(
    90deg,
    #f3f3f3 -2.8%,
    rgba(108, 99, 99, 0) 130.07%
  );
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.auth .tips-header {
  margin-top: -15px;
  margin-left: 165px;
  font-weight: 100;
  font-size: 30px;
  font-family: Galatea;
  text-align: center;
  color: #ababab;
}

.auth h1 {
  display: flex;
  gap: 70px;
  
  font-size: 30px;
  color: #ffffff;
}

.auth h1 span {
  // margin-right: 50px;
  transition: color 350ms ease;
}

.auth h1:lang(uk) {
  margin-right: 10px;
}

.auth [type="checkbox"]:checked,
.auth [type="checkbox"]:not(:checked) {
  position: absolute;
  display: none;
}

.auth .checkbox:checked + label,
.auth .checkbox:not(:checked) + label {
  margin: 20px auto -60px auto;
  position: relative;
  display: block;
  text-align: center;
  width: 100px;
  height: 30px;
  border: 2px solid #fcbc7d;
  border-radius: 30px;
  cursor: pointer;
  background-color: transparent;
}

.auth .checkbox:checked + label:before,
.auth .checkbox:not(:checked) + label:before {
  margin: -5px 0 0 -10px;
  width: 40px;
  height: 40px;
  position: absolute;
  display: block;
  border-radius: 50%;
  background-color: #fcbc7d;
  content: "";
  z-index: 20;
  text-align: center;
  transition: all 0.5s ease;
}

.auth .checkbox:checked + label:before {
  transform: translateX(80px) rotate(-270deg);
}

.auth .card-3d-wrap {
  width: 350px;
  height: 700px;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
}

.auth .card-3d-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out;
}

.auth .card-front,
.auth .card-back {
  margin: 100px auto 0 auto;
  width: 350px;
  min-height: 420px;
  height: auto;
  text-align: center;
  background: #1a4579;
  border-radius: 37px;
  background-repeat: no-repeat;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.auth .card-back {
  transform: rotateY(180deg);
}

.auth .card-main {
  margin: 100px auto 0 auto;
  width: 350px;
  min-height: 420px;
  height: auto;
  text-align: center;
  background: #1a4579;
  border-radius: 37px;
}

.auth .checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}

.auth .card-title {
  padding-top: 5px;
  font-weight: 500;
  font-size: 40px;
  color: #ffffff;
}

.auth .form-field {
  width: 300px;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #163a65;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  border: none;

  @media screen and (min-width: 1024px) {
    width: 460px;
    height: 70px;
  }
}

.auth input {
  width: 190px;
  height: 25px;
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
  background: transparent;
  border: none;
}

.auth ::placeholder {
  font-weight: 300;
  font-size: 19px;
  color: rgba(255, 255, 255, 0.77);
}

.auth .message {
  height: 20px;
  color: #fcbc7d;
  font-weight: 300;
  font-size: 20px;
  opacity: 0;
  transition: opacity 350ms ease;

  text-align: center;
}

.auth .message:lang(uk) {
  font-size: 16px;
}

.auth .btn-login {
  display: block;
  width: 150px;
  height: 40px;

  font-weight: 400;
  font-size: 20px;

  color: #123257;
  background-color: #fcbc7d;
  border-radius: 8px;
  border: none;

  transition-property: background-color, color;
  transition-duration: 350ms;
  transition-timing-function: ease;
}

.auth .btn-signup {
  width: 150px;
  height: 40px;

  margin: 30px 0 50px 0;

  font-weight: 400;
  font-size: 20px;

  border-radius: 8px;
  border: none;

  color: #123257;
  background-color: #fcbc7d;

  transition-property: background-color, color;
  transition-duration: 350ms;
  transition-timing-function: ease;
}

.auth .btn-signup:lang(uk) {
  width: 170px;
  padding: 0;
  font-size: 18px;
}

.auth .btn-login:hover,
.auth .btn-signup:hover {
  color: #fcbc7d;
  background: #123257;
}

@media screen and (min-width: 750px) and (max-width: 1024px) {
  .auth h1:lang(uk) {
    margin-right: 195px;
  }

  .auth .card-3d-wrap {
    width: 450px;
  }
  .auth .card-front,
  .auth .card-back,
  .auth .card-main {
    margin-bottom: 60px;
    width: 450px;
  }
  .auth .name,
  .auth .e-mail,
  .auth .password {
    width: 380px;
  }
  .auth input {
    width: 260px;
  }
  .auth .btn-login,
  .auth .btn-signup {
    width: 180px;
    height: 50px;
    font-size: 25px;
  }
}

@media screen and (min-width: 1024px) {
  .auth h1 {
    margin-top: 20px;
  }
  .auth h1:lang(uk) {
    margin-right: 510px;
  }

  .auth .checkbox:checked + label,
  .auth .checkbox:not(:checked) + label {
    margin: 10px auto 10px auto;
  }
  .auth .card-3d-wrap {
    width: 570px;
  }
  .auth .card-front,
  .auth .card-back,
  .auth .card-main {
    margin: 30px auto 0 auto;
    width: 570px;
    min-height: 500px;
    height: auto;
  }
  .auth .card-title {
    padding: 10px;
  }
  .auth .form-field {
    width: 460px;
    height: 70px;
  }
  .auth input {
    width: 360px;
    height: 40px;
    font-size: 25px;
  }
  .auth ::placeholder {
    font-size: 22px;
  }
  .auth .message {
    margin: 0 auto 0 auto;
    width: 450px;
    min-height: 50px;
    height: auto;
    font-size: 22px;
  }
  .auth .message:lang(uk) {
    font-size: 21px;
  }
  .auth .btn-login,
  .auth .btn-signup {
    // width: 200px;
    // height: 60px;
    // font-size: 25px;

    width: 170px;
    height: 50px;
    font-size: 18px;
    font-weight: 500;
  }
  .auth .btn-signup:lang(uk) {
    width: 200px;
    padding: 0;
    font-size: 22px;
  }
}
