.cookie-name {
  font-size: 16px;
  font-weight: 600;
}

.content .cookie-list label {
  flex-direction: row-reverse;
}

.content .chakra-form-control {
  display: flex;
  align-items: center;
}

.content .chakra-form__label {
  display: flex;
  flex-direction: column;
  gap: 5px;

  text-transform: inherit;
  font-size: 12px;
}

.cookie-description {
  max-width: 230px;
}

.cookie-list {
  display: flex;
  flex-direction: column;
}

.cookie-list .cookie-list__item {
  display: flex;
  align-items: center;

  & label {
    display: flex;
    flex-direction: column;
  }
}
