{% extends 'user/users_homepage.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/user/users_store.css' %}">
<div class="card-1">
    <div class="label">
        <h3>Store</h3>
    </div>
    <div class="card-2">
        <p><b>Become Pro faster</b></p>
        <p>All content is available</p>
        <p>All tests unlimited</p>
        <p>Flexible testing schedule</p>
    </div>
    <div class="row">
        <div class="text">
            <p>1 month 200 UAH one programming language</p>
        </div>
        <div class="text">
            <p>12 month 1200 UAH one programming language</p>
        </div>
        <div class="text">
            <p>12 month 2400 UAH all programming languages</p>
        </div>
    </div>
</div>
{% endblock %}
