.profile-hero .form {
  padding-bottom: 30px;
}

.profile-hero .form input,
.profile-hero .chakra-select__wrapper {
  margin-bottom: 30px;
}

.profile-hero .chakra-select__wrapper option {
  background-color: #163a65 !important;
}

.profile-hero .chakra-select {
    padding-left: 10px;
}