.back-button a {
  display: flex;
  gap: 15px;
}

.back-button svg {
  color: white;
  width: 25px;
  height: 25px;
}

.profile-hero .back-button {
  display: flex;
  align-items: center;
  gap: 10px;

  margin-bottom: 41px;
}
