.modal-text-block {
  display: flex;
  flex-direction: column;
  gap: 25px;

  font-size: 16px;
}

.modal-text-block ol {
  padding-left: 35px;
}

.modal-text-block li {
  color: black;
}

.modal-text-block .chakra-checkbox__label {
  font-size: 15px !important;
}

.chakra-input__group {
    transition: opacity 350ms ease;
}

.modal-text-block .message {
  height: 20px;

  color: red;

  font-weight: 300;
  font-size: 20px;

  opacity: 0;
  transition: opacity 350ms ease;
}
