.education-header {
  position: absolute;
  top: 0;
  width: 100%;

  padding: 10px;

  border-bottom: 1px solid #718096;

  background-color: #1a4579;

  transition: top 0.7s, opacity 0.7s;
  transition-timing-function: ease;

  z-index: 100;

  @media screen and (min-width: 1024px) {
    display: flex;
    flex-direction: column;
  }
}

.education-header .container {
  position: relative;
  margin: 0 auto;
}

header.education-header.hide {
  position: absolute;
  top: -25%;
}

.education-header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: white;

  @media screen and (min-width: 1024px) {
    justify-content: initial;
  }
}

.education-header nav.education-navigation {
  display: flex;
  gap: 25px;
  align-items: center;
  margin-right: 20px;

  & a {
    height: 24px;

    cursor: pointer;
    transition: color 350ms cubic-bezier(0.39, 0.575, 0.565, 1);

    &:is(:hover, :focus),
    &.active {
      color: #fcbc7d;
    }

    @media screen and (min-width: 1024px) {
      font-size: 16px;
    }
  }

  @media screen and (min-width: 1024px) {
    margin: 0 35px 0px 125px;
  }

  @media screen and (min-width: 1280px) and (max-width: 1319px) {
    margin-right: 132px;
  }
  @media screen and (min-width: 1320px) {
    margin-right: 153px;
  }
}

// missed lessons indicator
.education-navigation a[href="/education/lessons"]::after {
  content: "";
  display: block;

  border-radius: 50%;

  transition: background-color 350ms, width 350ms, height 350ms;
  transition-timing-function: ease-in-out;
}

.education-navigation a[href="/education/lessons"].daily-missed::after {
  width: 7px;
  height: 7px;
  background-color: tomato;
}

.education-navigation a[href="/education/lessons"].weekly-missed::after {
  width: 8px;
  height: 8px;
  background-color: rgb(165, 16, 16);
}

.education-navigation a[href="/education/lessons"].monthly-missed::after {
  width: 9px;
  height: 9px;
  background-color: red;
}

header.education-header a.logo-header {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  margin-right: auto;
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;

  @media screen and (min-width: 1024px) {
    position: static;
    transform: initial;
  }
}

.education-header a.logo-header {
  margin-bottom: 20px;
  margin-left: 45px;
}
