.education-header {
  position: absolute;
  top: 0;
  width: 100%;

  padding: 10px;

  border-bottom: 1px solid #718096;

  background-color: #1a4579;

  transition: top 550ms;
  transition-timing-function: ease-in-out;
}

header.hide {
  position: absolute;
  top: -100%;
}

.education-header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: white;
}

.education-header a.logo-header {
  margin-bottom: 20px;
}

.education-header__points {
  position: absolute !important;
  top: 48%;
  left: 50%;
  transform: translate(-50%, 50%);

  font-size: 12px;

  padding: 0 20px;

  text-align: center;

  border: 1px solid;
  border-color: #718096;
  border-radius: 22px;

  background-color: #163a65;
  color: white;

  z-index: 100;

  & p:first-child {
    border-bottom: 1px solid;
  }
}
