.lesson-example__container {
  width: 100%;

  background-color: black;
  border-radius: 10px;

  font-size: 12px;
  padding: 15px;
}

.lesson-example__dots-container {
}

.lesson-example__content {
}
