.card-1 {
    margin-top: 40px;
    margin-left: 2.5%;
    margin-right: 2.5%;

    width: 95%;
    min-height: 120px;
    height: auto;

    background: rgba(196, 196, 196, 0.05);
}

.card-1-container {
    padding: 10px;

    font-family: Galatea;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;

    color: #ABABAB;
}

.card-2 {
    margin-top: 40px;
    margin-left: 2.5%;
    margin-right: 2.5%;

    width: 95%;
    min-height: 120px;
    height: auto;

    background: rgba(196, 196, 196, 0.05);
}

.card-2-container {
    padding: 10px;

    font-family: Galatea;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;

    color: #ABABAB;
}

.card-3 {
    margin-top: 40px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 70px;

    width: 95%;
    min-height: 120px;
    height: auto;

    background: rgba(196, 196, 196, 0.05);
}

.card-3-container {
    padding: 10px;

    font-family: Galatea;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;

    text-align: center;

    color: #ABABAB;
}

input {
    margin-top: 2%;
    margin-left: 1%;

    width: 500px;
    height: 60px;

    background: linear-gradient(92.42deg,
        rgba(255, 238, 238, 0.5) -4.28%,
        rgba(255, 255, 255, 0.305) 109.69%);
    border-radius: 20px;
    border: none;

    font-family: Galatea;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;

    color: #ABABAB;
}

.btn-submit {
    margin: 0 auto;

    width: 150px;
    height: 65px;

    text-align: center;

    font-family: Galatea;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;

    color: #ABABAB;

    background: linear-gradient(92.42deg,
        rgba(255, 238, 238, 0.5) -4.28%,
        rgba(255, 255, 255, 0.305) 109.69%);
    border-radius: 20px;
}


@media screen and (max-width: 600px) {
    input {
        width: 300px;
    }
}