body {
    background: linear-gradient(133.33deg, #031417 9.8%,
        rgba(17, 63, 73, 0.718241) 99.75%,
        rgba(69, 80, 83, 0) 100%,
        rgba(123, 160, 168, 0.152517) 100%,
        rgba(38, 91, 103, 0.391034) 100%);
    background-repeat: no-repeat;
    background-position: center 0;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;

    font-family: Galatea;
    font-style: normal;
}

:lang(uk) {
    font-family: Arial;
    font-style: normal;
}

.header {
    background: linear-gradient(92.42deg,
        rgba(255, 238, 238, 0.1) -4.28%,
        rgba(255, 255, 255, 0.13) 109.69%);
    background-repeat: no-repeat;
    background-position: center 0;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;

    text-align: center;
}

.top-nav {
    display: flex;
    flex-direction: row;
}

.language {
    text-align: right;
    margin-right: 20px;
    margin-left: auto;
    margin-left-min: 800px;
}

.btn-login {
    margin-top: 10px;
    margin-left: 20px;
    width: 100px;
    height: 30px;

    background: rgba(196, 196, 196, 0.5);
    border-radius: 30px;

    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

.title {
    margin-left: auto;
    margin-right: auto;

    width: 270px;
    height: 130px;
}

.joo-header {
    margin-left: auto;
    margin-right: auto;

    width: 200px;
    height: 110px;

    font-weight: 900;
    font-size: 100px;
    font-family: Galatea;

    background-image: linear-gradient(90deg, #F3F3F3 -2.8%, rgba(108, 99, 99, 0) 130.07%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.tips-header {
    margin-top: -15px;
    margin-left: 77%;
    margin-right: 23%;

    font-weight: 100;
    font-size: 30px;
    font-family: Galatea;

    text-align: center;

    color: #ABABAB;
}

.navbar {
    margin-top: 30px;

    text-align: center;

    font-weight: 100;
    font-size: 30px;
}

.navbar a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    font-weight: 500;
    font-size: 32px;

    color: rgba(171, 171, 171, 0.8);
}

.navbar a:hover {
    color: rgba(171, 171, 171, 0.2);
}

.navbar a.active {
    color: white;
}


@media screen and (max-width: 600px) {
    .navbar {
        display: block;

        font-size: 25px;
    }

    .navbar a {
        display: block;

        text-align: center;
        padding: 14px 16px;
        text-decoration: none;

        font-weight: 500;
        font-size: 25px;

        color: rgba(171, 171, 171, 0.8);
    }
}
