body {
    background: linear-gradient(133.33deg, #031417 9.8%,
        rgba(17, 63, 73, 0.718241) 99.75%,
        rgba(69, 80, 83, 0) 100%,
        rgba(123, 160, 168, 0.152517) 100%,
        rgba(38, 91, 103, 0.391034) 100%);
    background-repeat: no-repeat;
    background-position: center 0;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;

    font-family: Galatea;
    font-style: normal;

    text-align: center;
}

.btn-install {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;

    width: 250px;
    height: 95px;

    background: linear-gradient(92.42deg,
        rgba(255, 238, 238, 0.5) -4.28%,
        rgba(255, 255, 255, 0.305) 109.69%);
    border-radius: 50px;

    font-weight: 800;
    font-size: 25px;
    text-align: center;

    color: #ABABAB;
}

.btn-use {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;

    width: 250px;
    height: 95px;

    background: linear-gradient(92.42deg,
        rgba(255, 238, 238, 0.5) -4.28%,
        rgba(255, 255, 255, 0.305) 109.69%);
    border-radius: 50px;

    font-weight: 800;
    font-size: 25px;
    text-align: center;

    color: #ABABAB;
}


@media screen and (max-width: 600px) {
    .btn-use {
        margin-bottom: 70px;
    }
}