body {
    margin: 0;

    text-align: center;

    font-family: Galatea;
    font-style: normal;

    background: linear-gradient(135.79deg, #163A65 24.66%, #163A65 87.53%);
}

:lang(uk) {
    font-family: Mulish;
    font-style: normal;
}

.title {
    margin-top: 10px;
    margin-left: 10px;

    width: 200px;
    height: 50px;
}

.joo-header {
    margin-left: auto;
    margin-right: auto;

    width: 200px;
    height: 110px;

    font-weight: 900;
    font-size: 100px;
    font-family: Galatea;

    background-image: linear-gradient(90deg, #F3F3F3 -2.8%, rgba(108, 99, 99, 0) 130.07%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.tips-header {
    margin-top: -15px;
    margin-left: 165px;

    font-weight: 100;
    font-size: 30px;
    font-family: Galatea;

    text-align: center;

    color: #ABABAB;
}

h1 {
    margin: 100px auto 0 auto;

    width: 320px;

    font-size: 30px;
    color: #FFFFFF;
}

h1 span {
    margin-right: 50px;
}

h1:lang(uk) {
    margin-right: 10px;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
    position: absolute;
    display: none;
}

.checkbox:checked + label,
.checkbox:not(:checked) + label{
    margin: 20px auto -60px auto;

    position: relative;

    display: block;

    text-align: center;

    width: 100px;
    height: 30px;

    border: 2px solid #FCBC7D;
    border-radius: 30px;
    cursor: pointer;
    background-color: transparent;
}

.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before{
    margin: -5px 0 0 -10px;

    width: 40px;
    height: 40px;

    position: absolute;
    display: block;

    border-radius: 50%;
    background-color: #FCBC7D;

    content: '\eb4f';

    z-index: 20;

    text-align: center;
    transition: all 0.5s ease;
}

.checkbox:checked + label:before {
    transform: translateX(80px) rotate(-270deg);
}

.card-3d-wrap {
    margin: -10px auto 50px auto;

    width: 350px;
    height: 700px;

    position: relative;

    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 800px;
}

.card-3d-wrapper {
    width: 100%;
    height: 100%;

    position:absolute;

    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 600ms ease-out;
}

.card-front, .card-back {
    margin: 100px auto 0 auto;

    width: 350px;
    min-height: 420px;
    height: auto;

    text-align: center;

    background: #1A4579;
    border-radius: 37px;

    background-repeat: no-repeat;

    position: absolute;

    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

.card-main {
    margin: 100px auto 0 auto;

    width: 350px;
    min-height: 420px;
    height: auto;

    text-align: center;

    background: #1A4579;
    border-radius: 37px;
}

.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
    transform: rotateY(180deg);
}

.card-title {
    padding-top: 5px;

    font-weight: 500;
    font-size: 40px;

    color: #FFFFFF;
}

.name, .e-mail, .password {
    margin: 0 auto 10px auto;

    width: 300px;
    height: 60px;

    display: flex;

    background: #163A65;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    border: none;
}

.user-image, .email-image, .lock-image {
    margin: 0 20px 0 20px;

    width: 35px;
}

input {
    margin-top: 12px;

    width: 190px;
    height: 25px;

    font-weight: 300;
    font-size: 20px;

    color: #FFFFFF;

    background: transparent;
    border: none;
}

::placeholder {
    font-weight: 300;
    font-size: 19px;

    color: rgba(255, 255, 255, 0.77);
}

.message {
    height: 20px;

    color: #FCBC7D;

    font-weight: 300;
    font-size: 20px;
}

.message:lang(uk) {
    font-size: 16px;
}

.btn-login {
    width: 150px;
    height: 40px;

    font-weight: 300;
    font-size: 20px;

    color: #123257;

    background: #FCBC7D;
    border-radius: 8px;
    border: none;
}

.btn-signup {
    margin: 30px 0 50px 0;

    width: 150px;
    height: 40px;

    font-weight: 300;
    font-size: 20px;

    color: #123257;

    background: #FCBC7D;
    border-radius: 8px;
    border: none;
}

.btn-signup:lang(uk) {
    width: 170px;

    padding: 0;

    font-size: 18px;
}

.btn-login:hover, .btn-signup:hover {
    color: #FCBC7D;

    background: #123257;
}


@media screen and (min-width: 750px) and (max-width: 1024px) {
    h1:lang(uk) {
        margin-right: 195px;
    }

    h1 span {
        margin-right: 80px;
    }

    .card-3d-wrap {
        width: 450px;
    }

    .card-front, .card-back, .card-main {
        margin-bottom: 60px;

        width: 450px;
    }

    .name, .e-mail, .password {
        width: 380px;
    }

    input {
        width: 260px;
    }

    .btn-login, .btn-signup {
        width: 180px;
        height: 50px;

        font-size: 25px;
    }
}


@media screen and (min-width: 1024px) {
    h1 {
        margin-top: 20px;
    }

    h1:lang(uk) {
        margin-right: 510px;
    }

    h1 span {
        margin-right: 80px;
    }

    .checkbox:checked + label,
    .checkbox:not(:checked) + label{
        margin: 10px auto 10px auto;
    }

    .card-3d-wrap {
        margin: -10px auto 50px auto;

        width: 570px;
    }

    .card-front, .card-back, .card-main {
        margin: 30px auto 0 auto;

        width: 570px;
        min-height: 500px;
        height: auto;
    }

    .card-title {
        padding: 10px;
    }

    .name, .e-mail, .password {
        width: 460px;
        height: 70px;
    }

    input {
        margin-top: 15px;

        width: 360px;
        height: 40px;

        font-size: 25px;
    }

    ::placeholder {
        font-size: 22px;
    }

    .message {
        margin: 0 auto 0 auto;

        width: 450px;
        min-height: 50px;
        height: auto;

        font-size: 22px;
    }

    .message:lang(uk) {
        font-size: 21px;
}

    .btn-login, .btn-signup {
        width: 200px;
        height: 60px;

        font-size: 25px;
    }

    .btn-signup:lang(uk) {
        width: 200px;

        padding: 0;

        font-size: 22px;
    }
}
