body {
    background: linear-gradient(133.33deg, #031417 9.8%,
        rgba(17, 63, 73, 0.718241) 99.75%,
        rgba(69, 80, 83, 0) 100%,
        rgba(123, 160, 168, 0.152517) 100%,
        rgba(38, 91, 103, 0.391034) 100%);
    background-repeat: no-repeat;
    background-position: center 0;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;

    font-family: Galatea;
    font-style: normal;
}

.nav-bar {
    margin-bottom: -30px;
    display: flex;

    height: auto;
}

.test-counter {
    margin: auto;
    margin-top: -20px;
    margin-left: 2.5%;

    text-align: left;
    font-weight: 900;
    font-size: 26px;

    color: #ABABAB;
}

.timer {
    margin-right: 2.5%;
    margin-top: 10px;

    text-align: right;
    font-weight: 800;
    font-size: 40px;

    color: #ABABAB;
}

.card-1 {
    margin: 2.5% 2.5% 2.5% 2.5%;

    width: 95%;
    min-height: 95vh;
    height: auto;

    background: linear-gradient(92.42deg, #233C42 -4.28%, #44636A 109.69%);
    border-radius: 20px;
}

.question {
    height: auto;

    text-align: center;
    font-weight: 300;
    font-size: 30px;
    color: #ABABAB;

    white-space: pre-wrap;
}

.row {
    margin-top: -50px;
    display: flex;
}

.card-2 {
    margin-left: 5%;
    margin-bottom: 10%;

    padding: 20px;

    width: 400px;
    height: auto;
    min-height: 400px;

    font-weight: 300;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #C1C1C1;

    white-space: pre-wrap;

    background: rgba(70, 70, 70, 0.5);
    border-radius: 30px;
}

.card-3 {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;

    display: grid;

    text-align: center;
}

.slots {
    margin-bottom: 20px;

    width: 400px;
    height: auto;

    text-align: center;
    font-weight: 300;

    background: rgba(196, 196, 196, 0.5);
    border-radius: 30px;
}

.slots:hover {
    background: rgba(70, 70, 70, 0.5);
}

.text {
    font-weight: 300;
    font-size: 18px;

    color: #C1C1C1;

    white-space: pre-wrap;
}


@media screen and (max-width: 600px) {
    .test-counter {
        font-size: 23px;
    }

    .timer {
        font-size: 33px;
    }

    .nav-bar {
        display: grid;
        margin-bottom: 30px;
    }

    .timer {
        margin-top: -5%;
    }

    .card-1 {
        text-align: center;
    }

    .question {
        margin-top: -20px;
    }

    .row {
        display: grid;
        width: 100%;
    }

    .card-2 {
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 10%;

        width: 80%;

        font-weight: 300;
        font-size: 16px;

        color: #C1C1C1;

        white-space: pre-wrap;

        background: rgba(70, 70, 70, 0.5);
        border-radius: 30px;
    }

    .slots {
        margin-bottom: 20px;

        width: 300px;
        min-height: 60px;
        height: auto;

        text-align: center;

        background: rgba(196, 196, 196, 0.5);
        border-radius: 30px;
    }
}

@media screen and (min-width: 700px) and (max-width: 800px) {
    .card-2 {
        margin-left: 5%;
        margin-bottom: 10%;

        padding: 20px;

        width: 200px;
        height: 40%;
        min-height: 400px;

        font-weight: 300;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;

        color: #C1C1C1;

        white-space: pre-wrap;

        background: rgba(70, 70, 70, 0.5);
        border-radius: 30px;
    }

    .slots {

        margin-bottom: 20px;

        width: 270px;
        min-height: 60px;
        height: auto;

        text-align: center;

        background: rgba(196, 196, 196, 0.5);
        border-radius: 30px;
    }
}
