body {
    background: linear-gradient(133.33deg, #031417 9.8%,
        rgba(17, 63, 73, 0.718241) 99.75%,
        rgba(69, 80, 83, 0) 100%,
        rgba(123, 160, 168, 0.152517) 100%,
        rgba(38, 91, 103, 0.391034) 100%);
    background-repeat: no-repeat;
    background-position: center 0;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;

    font-family: Galatea;
    font-style: normal;
}

.card-1 {
    width: 95%;
    height: auto;
    min-height: 95vh;

    margin: 2.5% 2.5% 2.5% 2.5%;

    text-align: center;

    background: linear-gradient(92.42deg, #233C42 -4.28%, #44636A 109.69%);
    border-radius: 20px;
}

.container {
    padding-top: 20px;

    font-family: Galatea;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;

    text-align: center;

    color: #ABABAB;
}

.text {
    padding-top: 20px;
}

.level {
    width: 400px;
    height: 60px;

    text-align: center;

    font-weight: 300;
    font-size: 25px;
    color: black;

    background: rgba(196, 196, 196, 0.5);
    border-radius: 30px;
}

.themes {
    width: 400px;
    height: 60px;

    text-align: center;

    font-weight: 300;
    font-size: 25px;
    color: black;

    background: rgba(196, 196, 196, 0.5);
    border-radius: 30px;
}

.time {
    width: 400px;
    height: 60px;

    text-align: center;

    font-weight: 300;
    font-size: 25px;
    color: black;

    background: rgba(196, 196, 196, 0.5);
    border-radius: 30px;
}

.btn {
    width: 290px;
    height: 50px;
    margin-top: 100px;

    text-align: center;

    font-weight: 300;
    font-size: 25px;

    background: rgba(196, 196, 196, 0.5);
    border-radius: 30px;
}

img {
    width: 50%;
    height: auto;
}


@media screen and (max-width: 600px) {
    .text {
        padding-top: 10px;
    }

    .container {
        font-size: 20px;
    }

    .level {
        width: 90%;
        height: 60px;

        text-align: center;
        color: black;

        font-weight: 300;
        font-size: 20px;

        background: rgba(196, 196, 196, 0.5);
        border-radius: 30px;
    }

    .themes {
        width: 90%;
        height: 60px;

        text-align: center;
        color: black;

        font-weight: 300;
        font-size: 20px;

        background: rgba(196, 196, 196, 0.5);
        border-radius: 30px;
    }

    .time {
        width: 90%;
        height: 60px;

        text-align: center;
        color: black;

        font-weight: 300;
        font-size: 20px;

        background: rgba(196, 196, 196, 0.5);
        border-radius: 30px;
    }

    img {
        width: 80%;
        height: auto;
    }
}
