body {
    background: linear-gradient(133.33deg, #031417 9.8%,
        rgba(17, 63, 73, 0.718241) 99.75%,
        rgba(69, 80, 83, 0) 100%,
        rgba(123, 160, 168, 0.152517) 100%,
        rgba(38, 91, 103, 0.391034) 100%);
    background-repeat: no-repeat;
    background-position: center 0;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;

    font-family: Galatea;
    font-style: normal;
}

.navbar {
    margin-top: 5%;
    top: 0;
    width: 100%;

    position: fixed;

    display: flex;
}

.user {
    margin-left: 5%;

    font-weight: 500;
    font-size: 25px;
    color: #ACB0B1;
}

.price-list {
    margin-top: -1%;
    margin-left: auto;
    margin-right: 5%;
}

.btn-price-list {
    height: 60px;
    border-radius: 100%;

    background: linear-gradient(92.42deg,
        rgba(255, 238, 238, 0.5) -4.28%,
        rgba(255, 255, 255, 0.305) 109.69%);
}

.btn-price-list:hover {
    background: rgba(70, 70, 70, 0.5);
}

.footer {
    margin-bottom: 5%;
    bottom: 0;
    width: 100%;

    position: fixed;

    text-align: center;
}

.btn-footer {
    width: 200px;
    height: 70px;
    margin-left: 1%;
    margin-right: 1%;

    font-weight: 300;
    font-size: 20px;

    color: #505050;

    background: #C4C4C4;
/*    color: #DDDDDD;

    background: linear-gradient(92.42deg,
        rgba(255, 238, 238, 0.5) -4.28%,
        rgba(255, 255, 255, 0.305) 109.69%);*/
    border-radius: 20px;
}

.btn-footer:hover {
    background: rgba(70, 70, 70);
    color: #DDDDDD;
}
