body {
    margin: 0;

    font-family: Galatea;
    font-style: normal;

    text-align: center;

    background: #163A65;
}

:lang(uk) {
    font-family: Mulish;
    font-style: normal;
}

.vector-1-image {
    margin-top: -30px;

    left: 0;

    z-index: -1;

    position: absolute;
}

.title {
    margin-top: 30px;
    margin-left: 50px;

    width: 270px;
    height: 130px;
}

.joo-header {
    margin-left: 10px;

    width: 200px;
    height: 110px;

    font-weight: 900;
    font-size: 100px;
    font-family: Galatea;

    background-image: linear-gradient(90deg, #F3F3F3 -2.8%, rgba(108, 99, 99, 0) 130.07%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.joo-header a:lang(uk) {
    width: 200px;
    height: 110px;

    font-weight: 900;
    font-size: 100px;
    font-family: Galatea;
}

.tips-header {
    margin-top: -15px;
    margin-left: 130px;

    font-weight: 100;
    font-size: 30px;
    font-family: Galatea;

    text-align: center;

    color: #ABABAB;
}

.building-image {
    margin-top: 50px;

    width: 400px;
}

h1 {
    font-weight: 600;
    font-size: 35px;
    color: #FFFFFF;
}

h1 span {
    color: #FCBC7D;
}

.vector-2-image {
    margin-top: -170px;

    right: 0;

    z-index: -1;

    position: absolute;
}


@media screen and (min-width: 1024px) {
    .building-image {
        margin-top: -40px;

        width: 760px;
    }

    h1 {
        font-size: 45px;
    }

    .vector-2-image {
        margin-top: -270px;
    }
}
