.card {
    width: 95%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 70px;

    background: rgba(196, 196, 196, 0.05);
}

.card-container {
    padding: 10px;

    font-weight: 300;
    font-size: 21px;

    color: #ABABAB;
}
