.lesson__info {
  font-size: 20px;
}

.lesson__info p {
  color: #adadad;
}

.lesson__info .header {
  margin-bottom: 15px;
}

.lesson__info .header div {
  display: flex;
  gap: 15px;
}

.lesson__info .text {
  margin-top: 8px;
}
