.lesson__info {
  font-size: 20px;
}

.lesson__info p {
  color: #adadad;
}

.lesson__info .topics {
  margin-bottom: 15px;
}

.lesson__info .topics div {
  display: flex;
  gap: 15px;
}

.lesson__info .text {
  margin: 10px 0;
}
