.profile-hero {
  padding: 30px;

  color: white;
  background-color: #163a65;

  // min-height: 100vh;
}

.education-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

  padding-bottom: 100%;
  padding-top: 100px;
  // max-height: 700px;

  transition: padding-top 350ms ease, background-color 350ms ease;

  @media screen and (min-width: 1024px) {
    padding-bottom: 0;
  }
}

.achievements-hero {
  padding-top: 0;
  padding-bottom: 0;

  background-color: #122f52;
}

