.cookie-container {
  position: fixed;
  left: 0px;
  bottom: 0px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;

  padding: 10px 10px 0 10px;
  margin-left: 10px;

  border-radius: 10px;
  border-top: 2px solid #fcbc7d;

  z-index: 999;

  background-color: rgb(26, 69, 121);
  color: white;

  @media screen and (max-width: 767px) {
    max-width: 250px;
  }

  @media screen and (min-width: 768px) {
    width: 350px;
  }
}

.cookie-container .chakra-checkbox__label {
  font-size: 10px;
}

.cookie-container p {
  font-size: 10px;
  font-weight: 300;
  margin-bottom: 20px;

  @media screen and (max-width: 767px) {
    max-width: 250px;
  }
}

.cookie-container ul {
  // display: flex;
  // gap: 15px;
  // flex-wrap: wrap;

  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;

  margin-bottom: 10px;
}

.chakra-checkbox span {
  text-transform: uppercase;
}

.cookie-container div[role="group"].chakra-button__group {
  width: 100%;
  padding-bottom: 5px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.cookie__buttons {
  width: 130px;
  height: 30px !important;

  border-radius: 25px !important;

  font-size: 10px !important;
  font-weight: 400 !important;
  text-transform: uppercase;
}

.cookie__details-button {
  margin: 0 auto 5px auto;
  gap: 5px;

  border: 1px solid;
  border-color: transparent;

  transition: border-color 350ms ease;

  &:is(:hover, :focus) {
    border-color: #fcbc7d;
  }
}

.cookie__details-buttons-group {
  flex-wrap: wrap;
  justify-content: space-around !important;
}

.cookie__details-buttons-group .cookie__buttons {
  height: 40px !important;

  font-size: 12px !important;

  color: black;
  border: 1px solid black;
}

.cookie__details-buttons-group .cookie__save-button {
  width: 100%;

  margin: 10px auto 5px auto;

  border-color: transparent;
  color: white;
}
