.cookie-container {
  position: fixed;
  left: 0px;
  bottom: 0px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;

  width: 100%;

  padding: 10px;

  z-index: 999;

  background: rgb(26, 69, 121);
  color: white;
}

.custom-buttons-container {
  display: flex;
  gap: 25px;
}

.cookie-button {
  width: 80px;
  height: 30px;
  font-size: 13px;

  color: #fcbc7d;
  border: 1px solid;
  border-color: #fcbc7d;
  background-color: transparent;

  transition-property: border-color, background-color, color;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);

  &:is(:hover, :focus) {
    cursor: pointer;

    background-color: #fcbc7d;
    color: #123054;
  }
}

.cookie-content {
  display: flex;
  align-items: center;
  gap: 665px;
}
