.cookie-container {
  position: fixed;
  left: 0px;
  bottom: 0px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;

  padding: 10px 10px 0 10px;

  border-radius: 15px;

  z-index: 999;

  background: rgb(26, 69, 121);
  color: white;

  @media screen and (min-width: 768px) {
    width: 350px;
  }
}

.cookie-container .chakra-checkbox__label {
  font-size: 10px;
}

.cookie-container p {
  font-size: 10px;
  font-weight: 300;
  margin-bottom: 20px;
}

.cookie-container .cookie-list {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.chakra-checkbox span {
  text-transform: uppercase;
}
