.education-footer {
  position: fixed;
  bottom: 0;

  z-index: 5;

  width: 100%;

  display: flex;
  gap: 3px;

  border-top: 1px solid #718096;
  background-color: #163a65;

  transition: bottom 0.7s, opacity 0.7s;
  transition-timing-function: ease;
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

.education-footer__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px;

  width: 100%;
  height: 60px;

  font-size: 12px;

  color: #c8c8c8;
  background-color: #1f4573;
}

.education-footer__buttons[href="/education/lessons"] {
  position: relative;
}

.education-footer .active,
.education-footer__buttons:is(:hover, :focus) {
  color: white;
  cursor: pointer;

  & .icon-stroke {
    stroke: white;
  }
}

.education-footer .icon-stroke {
  stroke: gray; /* Обычное состояние - серый цвет */
}

footer.education-footer.hide {
  bottom: -25%;
}
