.education-footer {
  position: fixed;
  bottom: 0;

  z-index: 100;

  width: 100%;

  display: flex;
  gap: 3px;

  border-top: 1px solid #718096;
  background-color: #163a65;

  transition: bottom 550ms;
  transition-timing-function: ease-in-out;
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

.education-footer__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px;

  // width: 120px;
  width: 190px;
  height: 60px;

  font-size: 12px;

  color: #c8c8c8;
  background-color: #1f4573;
}

.education-footer .active,
.education-footer__buttons:is(:hover, :focus) {
  color: white;
  cursor: pointer;
}

.education-footer .icon-stroke {
  stroke: gray; /* Обычное состояние - серый цвет */
}

.education-footer .active .icon-stroke {
  stroke: white; /* Цвет при классе .active - белый */
}

footer.hide {
  bottom: -100%;
}
