.layout-container {
  display: flex;
  align-items: flex-start;
}

.sidebar {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;

  // flex: 0 0 25px; /* Задаем фиксированную ширину сайдбара, например, 200px */
  height: 100vh; /* Задаем высоту сайдбара равной высоте окна просмотра */
  background-color: #163a65; /* Цвет фона для сайдбара */
}

.sidebar button {
  width: 21px;
  height: 100px;

  border: 1px solid #71809640;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;

  transition-property: stroke, background-color;
  transition-duration: 350ms;
  transition-timing-function: ease;

  @media screen and (min-width: 360px) {
    height: 160px;
  }
}

.sidebar button svg {
  width: 18px;
  margin-right: 5px;
}

.sidebar button.active {
  background-color: #163559;
}
.sidebar button.active .icon-sidebar {
  stroke: white;
}

.profile-hero {
  min-height: 655px;
  flex: 1; /* Позволяет основному содержимому занимать все доступное пространство */
  padding: 20px; /* Внутренние отступы для основного содержимого */
}

.sidebar .icon-sidebar {
  stroke: rgb(131, 128, 128);
}
