.missed-indicator__container {
  position: absolute;
  bottom: -10px;
  left: 73px;

  display: flex;
  align-items: center;
  gap: 4px;
}

.missed-indicator {
  border-radius: 50%;
}

.missed-indicator.daily {
  width: 8px;
  height: 8px;
  background-color: rgb(218, 53, 23);
}

.missed-indicator.weekly {
  width: 9px;
  height: 9px;
  background-color: rgb(216, 46, 16);
}

.missed-indicator.monthly {
  width: 11px;
  height: 11px;
  background-color: red;
}
