.cookie__details-body .cookie__description {
  margin-bottom: 35px;

  padding-left: 24px;
  padding-right: 24px;
}
.cookie__details-body .cookie__details-buttons {
  min-width: 160px;
  height: 30px;

  margin: 0;

  border-top: 1px solid;
  border-color: transparent;
  text-transform: uppercase;

  transition-property: border-color, color;
  transition-timing-function: ease;
  transition-duration: 350ms;

  &:is(:hover, :focus) {
    border-color: #3182ce;
    color: #3182ce;
  }
}

.cookie__details-body .content-section .content {
  display: flex;
  flex-direction: column;
  gap: 15px;

  padding: 24px;

  background-color: #f3f3f3;
}
