body {
    margin: 0;

    font-family: Galatea;
    font-style: normal;

    text-align: center;

    background: #163A65;
}

:lang(uk) {
    font-family: Mulish;
    font-style: normal;
}


.header {
    text-align: center;

    display: flex;
}

.title {
    margin-top: 10px;
    margin-left: 10px;

    width: 200px;
    height: 50px;
}

.joo-header {
    margin-left: auto;
    margin-right: auto;

    width: 200px;
    height: 110px;

    font-weight: 900;
    font-size: 100px;
    font-family: Galatea;

    background-image: linear-gradient(90deg, #F3F3F3 -2.8%, rgba(108, 99, 99, 0) 130.07%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.tips-header {
    margin-top: -15px;
    margin-left: 165px;

    font-weight: 100;
    font-size: 30px;
    font-family: Galatea;

    text-align: center;

    color: #ABABAB;
}

/* ---------- /Card Programming languages/ ---------- */

.languages-title {
    margin: 100px 0 -100px 0;

    height: 50px;

    font-weight: 500;
    font-size: 30px;
    color: #FFFFFF;
}

.cards-row {
    margin: 150px 0 0 0;

    display: flex;
}

.card-python, .card-javascript, .card-java, .card-swift,
 .card-csharp, .card-cplusplus, .card-golang, .card-php {
    width: 170px;
    height: 200px;

    background: transparent;
    border-radius: 8px;
}

.card-python-btn, .card-javascript-btn, .card-java-btn, .card-swift-btn,
 .card-csharp-btn, .card-cplusplus-btn, .card-golang-btn, .card-php-btn {
    margin-top: 4px;

    width: 150px;
    height: 180px;

    text-align: center;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    font-size: 22px;
    color: #14355C;

    background: #FFFFFF;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 15.7577px 36.4397px -5.90914px rgba(16, 24, 40, 0.2);
}

.card-python:hover, .card-javascript:hover, .card-java:hover, .card-swift:hover,
 .card-csharp:hover, .card-cplusplus:hover, .card-golang:hover, .card-php:hover {
    width: 160px;
    height: 190px;

    border: 4px solid #FCBC7D;
}

.card-python, .card-javascript, .card-java, .card-swift {
    margin: 0px 20px 10px 25px;
}

.card-csharp, .card-cplusplus, .card-golang, .card-php {
    margin: 0 20px 10px 0;
}

.python-logo-image {
    margin: 0 0 -5px -10px;

    width: 130px;
    height: 80px;
}

.csharp-logo-image {
    margin: 3px 0 0 -10px;

    width: 135px;
    height: 70px;
}

.javascript-logo-image {
    width: 110px;
    height: 70px;
}

.card-javascript-btn label {
    margin: 30px 0 0 -10px;
}

.cplusplus-logo-image {
    margin: -5px 0 0 -10px;

    width: 135px;
    height: 70px;
}

.java-logo-image {
    margin: -5px 0 0 -10px;

    width: 130px;
    height: 80px;
}

.golang-logo-image {
    margin: -20px 0 -10px -35px;

    width: 170px;
    height: 100px;
}

.swift-logo-image {
    margin: 0 0 5px 0;

    width: 110px;
    height: 70px;
}

.php-logo-image {
    margin: -25px 0 -10px -20px;

    width: 150px;
    height: 110px;
}


@media screen and (min-width: 750px) and (max-width: 1024px) {

    /* ---------- /Card Programming languages/ ---------- */

    .card-languages {
        height: 650px;
    }

    .languages-title {
        margin: 100px 0 20px 0;
    }

    .cards-row {
        display: grid;
    }

    .row {
        display: flex;
    }

    .card-python, .card-javascript, .card-java, .card-swift {
        margin: -120px 10px 0 20px;
    }

    .card-csharp, .card-cplusplus, .card-golang, .card-php {
        margin: 20px 10px 0 20px;
    }
}

@media screen and (min-width: 1024px) {
    /* ---------- /Card Programming languages/ ---------- */

    .languages-title {
        margin: 50px auto 30px auto;
    }

    .cards-row {
        margin: 0 0 50px 0;

        display: grid;
    }

    .row {
        display: flex;
    }

    .card-python, .card-javascript, .card-java, .card-swift,
     .card-csharp, .card-cplusplus, .card-golang, .card-php {
        margin: 20px;

        width: 275px;
        height: 290px;

        font-size: 32px;

        border-radius: 20px;
    }

    .card-python-btn, .card-javascript-btn, .card-java-btn, .card-swift-btn,
     .card-csharp-btn, .card-cplusplus-btn, .card-golang-btn, .card-php-btn {
        margin-top: 6px;

        width: 250px;
        height: 270px;

        font-size: 32px;

        border-radius: 12px;
    }

    .card-python:hover, .card-javascript:hover, .card-java:hover, .card-swift:hover,
     .card-csharp:hover, .card-cplusplus:hover, .card-golang:hover, .card-php:hover {
        width: 265px;
        height: 280px;
    }


    .card-python, .card-csharp {
        margin-left: auto;
    }

    .card-swift, .card-php {
        margin-right: auto;
    }

    .python-logo-image {
        margin: 10px 0 10px 0;

        width: 200px;
        height: 130px;
    }

    .swift-logo-image {
        margin: 15px 0 5px 0;

        width: 200px;
        height: 130px;
    }

    .javascript-logo-image {
        margin: 20px 0 10px 0;

        width: 200px;
        height: 120px;
    }

    .card-javascript-btn label {
        margin: 0;
    }


    .java-logo-image {
        margin: 10px 0 10px 0;

        width: 220px;
        height: 130px;
    }

    .csharp-logo-image, .cplusplus-logo-image {
        margin: 10px 0 20px 0;

        width: 250px;
        height: 120px;
    }

    .golang-logo-image {
        margin: -10px 0 0 0;

        width: 200px;
        height: 160px;
    }

    .php-logo-image {
        margin: -15px 0 -5px 0;

        width: 250px;
        height: 170px;
    }
}