{% extends 'ua/pupil_ua/pupils_homepage_ua.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/pupils_rating.css' %}">
<div class="card-1">
    <div class="row">
        <div class="card-2">
            <button class="card-2-button">Особистий</button>
            <button class="card-2-button">Клас</button>
            <button class="card-2-button">Школа</button>
            <button class="card-2-button">Місто</button>
        </div>
        <div class="card-3">
            <button class="card-3-button">Класи</button>
            <button class="card-3-button">Школи</button>
            <button class="card-3-button">Mіста</button>
            <button class="card-3-button">Kраїни</button>
        </div>
    </div>
    <div class="card-4">
        <table>

        </table>
    </div>
</div>
{% endblock %}
