// MyBigCalendar.scss

// Основные цвета
$primary-color: #163a65;
$text-color: white;
$accent-color: lighten($primary-color, 20%);
$active-bg-color: lighten($primary-color, 40%);
$border-color: #dddddd2e;

$event-font-size: 11px;

// Общие стили кнопок
%button-styles {
  background-color: $primary-color;
  color: $text-color;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

// base styles
.rbc-calendar {
  display: flex;
  width: 300px;
  // height: 500px;

  font-weight: normal;

  position: relative;

  padding: 15px;
  background-color: #1a4579;
  border-radius: 10px;

  margin: 0 auto;

  @media screen and (min-width: 375px) and (max-width: 479px) {
    width: 350px;
  }
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 700px;
    height: 570px;
  }

  @media screen and (min-width: 1024px) {
    width: 950px;
    height: 800px;
  }

  button:not(.rbc-button-link) {
    @extend %button-styles;
  }

  .rbc-now button {
    color: orange;
    font-weight: 600;
  }
  .rbc-today {
    background-color: transparent !important;
    border: 2px solid #ffa5009e !important;
  }

  .rbc-button-link {
    width: 100%;
    height: 100%;

    text-align: center;

    margin-left: 3%;

    @media screen and (min-width: 1024px) {
      font-size: 18px;
    }
  }

  .rbc-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 5px 10px;

    text-overflow: initial;

    font-weight: 500;
    border-radius: 3px;
    background-color: $primary-color;
    color: $text-color;
  }

  .rbc-toolbar {
    .rbc-toolbar-label {
      text-align: start;
    }

    .custom-nav {
      display: flex;
      align-items: center;
      justify-content: center;

      .current-month-label {
        margin: 0 10px;
        // font-weight: bold;
      }

      button {
        @extend %button-styles;
      }

      .today-btn {
        margin-left: 10px;
      }

      .custom-today-btn {
        position: absolute;
        right: 10px;
        top: 15px;

        font-size: 12px;

        @media screen and (max-width: 767px) and (max-width: 1023px) {
          font-size: 9px;
        }

        @media screen and (min-width: 1024px) {
          font-size: 16px;
        }
      }
    }
  }

  .rbc-row {
    position: relative;
  }
  .rbc-event {
    background-color: $accent-color;
    border-color: $primary-color;

    font-size: $event-font-size;
    color: $text-color;

    color: transparent;
    background: transparent;

    position: absolute;
    bottom: -33px;
    // opacity: 0;

    width: 45px;
    height: 71px;

    // &:hover {
    //   background-color: $primary-color;
    //   color: $text-color;
    // }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
      font-size: 14px;
    }

    @media screen and (min-width: 1024px) {
      font-size: 16px;
      width: 130px;
      height: 93px;
    }
  }
  .rbc-event.missed {
    filter: grayscale(1);
    background-color: gray;
    opacity: 0.2;
  }
  .rbc-event.completed {
    border-color: green;
    border: 2px solid green;
    background-color: green;
    opacity: 0.3;
  }
  .rbc-event-content {
    text-align: center;
  }

  .rbc-event:focus,
  .rbc-day-slot .rbc-background-event:focus {
    outline: none;
    padding-bottom: 0%;
  }

  .rbc-date-cell {
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      font-size: 18px;
    }
  }

  .rbc-event-content {
    padding-bottom: 25%;
    @media screen and (min-width: 1024px) {
      white-space: normal;
    }
  }

  .rbc-btn-group button {
    @extend %button-styles;
    margin: 0 5px;

    &:hover,
    &:focus {
      background-color: $accent-color;
      color: $primary-color;
    }
  }

  .rbc-off-range-bg {
    background-color: #14365f;
  }

  .rbc-event.rbc-selected {
    filter: initial;
    opacity: initial;
    background-color: initial;

    border: 2px solid #fcbc7d !important;
  }

  .rbc-event.module-test {
    background-color: #ff00003d;
    opacity: initial;
    filter: initial;
  }

  .past-day-bg {
    border: 1px solid red;
  }

  .rbc-header,
  .rbc-month-view,
  .rbc-header + .rbc-header,
  .rbc-day-bg + .rbc-day-bg,
  .rbc-month-row + .rbc-month-row {
    border-color: $border-color;
  }

  .rbc-month-row {
    flex-basis: initial;
    justify-content: space-around;
    height: 55px;

    @media screen and (min-width: 768px) {
      height: 95px;
    }
  }

  .rbc-row-segment {
    padding: initial;
  }
}
.calendar-modal__start-lesson {
  @extend %button-styles;

  margin: 25px 0 5px 0;
}
