@import "/src/scss/variables.scss";

.navbar {
  display: none;
  z-index: 10;
  margin-right: auto;

  color: $header-titles;

  @media screen and (min-width: 1024px) {
    display: flex;
    align-items: center;
    gap: 28px;
    font-size: 14px;
  }
  @media screen and (min-width: 1320px) {
    gap: 80px;
    font-size: 16px;
  }

  @media screen and (min-width: 1680px) {
    gap: 60px;
  }

  & a {
    text-transform: uppercase;

    transition: color 350ms ease;
  }
  & a:is(:hover, :focus) {
    color: $header-text-hover-color;
  }
}
