.btn-login {
  display: none;
  z-index: 10;

  width: 99px;
  height: 47px;

  border: 1.5px solid #fcbc7d;
  border-radius: 8px;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(18 / 14);

  color: #fcbc7d;
  background-color: transparent;

  @media screen and (min-width: 1320px) {
    display: block;
  }
}
