@import "/src/scss/variables.scss";

header .btn-login {
  display: block;
  // display: none;
  z-index: 10;

  width: 99px;
  height: 47px;

  border: 1.5px solid $button-bg-color;
  border-radius: 8px;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(18 / 14);

  text-transform: uppercase;

  color: $button-header-text-color;
  background-color: transparent;

  transition-property: color, background-color;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);

  &:is(:hover, :focus) {
    color: $button-hover-text-color;
    background-color: $button-hover-bg-color;
  }

}
