.swipe-indicator {
  position: fixed;
  bottom: 70px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;

  width: 100%;

  transition: bottom 700ms, background-color 700ms;
  transition-timing-function: ease;
}

.swipe-indicator div {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: gray;
}

.swipe-indicator div.active {
  background-color: orange;
}

.swipe-indicator.hided {
  bottom: 0;
}

.swipe-indicator.achievements {
  bottom: 5px;
  z-index: 100;
}
