.cube {
  position: absolute;
  z-index: 3;
}
.mobile-cube {
  right: 0;

  @media screen and (min-width: 768px) {
    bottom: 28px;
    width: 250px;
  }
}

.large-cube {
  right: 100px;
  bottom: 35%;

}
