{% extends 'ua/homepage_ua.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/for_teams.css' %}">
<div class="card-1">
    <div class="card-1-container">
        <p>Ми розробляємо корпоративні рішення для внутрішніх команд розробників, ІТ-компаній, з метою регулярного
            оцінювання за темою, за мовою, за рівнем знань</p>
    </div>
</div>
<div class="card-2">
    <div class="card-2-container">
        <p>Наше корпоративне рішення може допомогти підвищити рівень компетенції в рамках стратегічного програми
            розвитку людських ресурсів та освіти</p>
    </div>
</div>
<div class="card-3">
    <div class="card-3-container">
        <input type="text" name="email" required placeholder="Е-пошта">
        <input class="btn-submit" type="submit" value="НАДІСЛІТЬ Е-ПОШТУ">
        Будь ласка, залиште тут свою електронну пошту - ми зв'яжемося з вами найближчим часом
    </div>
</div>
{% endblock %}
