<!DOCTYPE html>
<html lang="uk">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="icon" href="{% static 'images/JOO_Tips.png' %}" type="image/png">
    <link rel="stylesheet" href="http://fonts.cdnfonts.com/css/galatea">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mulish">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
</head>
<body>
    <div class="card-main">
        <header class="header">
            <div class="title">
                <div class="joo-header">
                    JOO
                </div>
                <div class="tips-header">
                    TIPS
                </div>
            </div>
            <nav class="navbar">
                <a href="#who-we-are">ХТО МИ Є</a>
                <a href="#start-learning">РОЗПОЧАТИ НАВЧАННЯ</a>
                <a href="#for-teams-schools">ДЛЯ КОМАНД</a>
                <a href="#for-teams-schools">ДЛЯ ШКОЛИ</a>
            </nav>
            <button class="btn-login" onclick="location.href={% url 'log_in' %}">
                ВХІД
            </button>
            <select class="language" onchange="this.options[this.selectedIndex].value &&
                                                (window.location = this.options[this.selectedIndex].value);">
                <option value="http://192.168.0.115:8000/ua/">
                    УКР
                </option>
                <option value="http://192.168.0.115:8000">
                    АНГЛ
                </option>
            </select>
        </header>
        <div class="joo-background">
            JOO
        </div>
        <div class="row">
            <div class="it-profession">
                <h1><span style="color: #EB1034">IT - </span>ПРОФЕСІЯ</h1>
                <h4>для школярiв та дорослих</h4>
                <p class="text-main" style="width: 650px;">
                    Тебе чекають сотні карточок-підсказок, тисячі різноманітних тестів, уроки від 5
                    до 30 хвилин в зручний для тебе час і звичайно всілякі штуки з ігрового світу - чемпіонати, кубки,
                    PvP, і це ще не все!</p>
                <button class="btn-try-it-1" onclick="location.href={% url 'programing_language_choice_ua' %}">
                    СПРОБУВАТИ<span style="padding-left: 15px;">&#10095;</span>
                </button>
            </div>
            <img class="main-cube" src="{% static 'images/cube.svg' %}">
        </div>
        <div class="tips-background">
            TIPS
        </div>
    </div>
    <div class="vertical-line-1">

    </div>
    <div class="card-goals">
        <h4 class="goals-title">ЩО ВАМ ДАЮТЬ КУРСИ</h4>
        <div class="row">
            <div class="lamp-brain">
                <img src="{% static 'images/lamp_brain.png' %}" width="180">
                <h5>РОЗВИТОК ЗДІБНОСТЕЙ</h5>
            </div>
            <img src="{% static 'images/arrow_1.svg' %}" width="90" style="margin-top: 90px;">
            <div class="lamp-gear">
                <img src="{% static 'images/lamp_gear.png' %}" width="180">
                <h5>КОРИСНЕ ХОБІ</h5>
            </div>
            <img src="{% static 'images/arrow_2.svg' %}" width="90" style="margin-top: -30px;">
            <div class="lamp-target">
                <img src="{% static 'images/lamp_target.png' %}" width="180">
                <h5>ПЕРСПЕКТИВНА ПРОФЕСІЯ</h5>
            </div>
        </div>
    </div>
    <div class="grid-1">
        <img src="{% static 'images/grid_1.svg' %}">
    </div>
    <div class="vertical-line-2">

    </div>
    <div class="card-who-we-are"><a id="who-we-are"></a>
        <h4 class="who-we-are-title">ПРО НАС</h4>
        <img class="background-arrows-1" src="{% static 'images/background_arrows.svg' %}">
        <div class="row">
            <img class="green-lock" src="{% static 'images/green_lock.svg' %}">
            <div style="display: grid;">
                <hr class="line-1">
                <div class="who-we-are-text" id="who-we-are-text">
                    <div style="width: 1400px; display: flex;">
                        <div class="who-we-are-text-left">
                            <p>JOO TIPS - це цифрова ігро-академія, яка допомагає школярам середніх та старших класів,
                                а також свічерам, зручно та без перевантажень вчити найбільш поширені мови
                                програмування - і не тільки.</p>
                            <p>Завдяки зручному формату навчального матеріалу, який подається маленькими картками-
                                підказками, та системи теоретичних та практични тестів користувач опановує необхідні
                                знання та зразу ж бачить і вчиться їх використовувати на практиці.</p>
                        </div>
                        <div class="who-we-are-text-right" style="margin-left: 50px;">
                            <p>Завдяки інновативному  формату навчання, який складається з уроків від 5 до 30 хвилин,
                                в поєднанні з найпоширенішими механіками з багатокористувацьких ігор - індивідуальними
                                та колективними матчами, чемпіонатами та челенджами, користувачі зможуть відволіктись
                                від рутини класичного навчального процесу і зосередитись на власному прогресі.</p>
                            <p>Допомагати користувачам на платформі будуть як вчителі, які будуть організовувати
                                змагальницький процес, так і ментори, які будуть ділитись цінними знаннями та
                                успішними кейсами.</p>
                        </div>
                    </div>
                </div>
                <div style="display: flex;">
                    <button class="btn-slide-left" id="slideLeft" type="button">
                        &#10094;
                    </button>
                    <button class="btn-slide-right" id="slideRight" type="button" style="margin-left: 20px;">
                        &#10095;
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="vertical-line-3">

    </div>
    <div class="card-languages">
        <h4 class="languages-title">МОВИ ПРОГРАМУВАННЯ</h4>
        <img class="grid-2" src="{% static 'images/grid_1.svg' %}">
        <div class="row">
            <div class="card-python">
                <img src="{% static 'images/python_logo.svg' %}"
                     width="200" height="130" style="padding-top: 30px; padding-bottom: 10px;">
                <label>PYTHON</label>
                <hr>
                <a href="" style="text-decoration: none; font-weight: 300; font-size: 20px; color: #5666F8">
                    Вивчати<span style="margin-left: 5px;">&#8594</span>
                </a>
            </div>
            <div class="card-javascript">
                <img src="{% static 'images/javascript_logo.svg' %}"
                     width="200" height="120" style="padding-top: 40px; padding-bottom: 10px;">
                <label>JAVASCRIPT</label>
                <hr>
                <a href="" style="text-decoration: none; font-weight: 300; font-size: 20px; color: #5666F8">
                    Вивчати<span style="margin-left: 5px;">&#8594</span>
                </a>
            </div>
            <div class="card-java">
                <img src="{% static 'images/java_logo.svg' %}"
                     width="220" height="130" style="padding-top: 30px; padding-bottom: 10px;">
                <label>JAVA</label>
                <hr>
                <a href="" style="text-decoration: none; font-weight: 300; font-size: 20px; color: #5666F8">
                    Вивчати<span style="margin-left: 5px;">&#8594</span>
                </a>
            </div>
            <div class="card-swift">
                <img src="{% static 'images/swift_logo.svg' %}"
                     width="200" height="130" style="padding-top: 30px; padding-bottom: 10px;">
                <label>SWIFT</label>
                <hr>
                <a href="" style="text-decoration: none; font-weight: 300; font-size: 20px; color: #5666F8">
                    Вивчати<span style="margin-left: 5px;">&#8594</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="card-csharp">
                <img src="{% static 'images/csharp_logo.svg' %}"
                     width="250" height="120" style="padding-top: 30px; padding-bottom: 20px;">
                <label>C#</label>
                <hr>
                <a href="" style="text-decoration: none; font-weight: 300; font-size: 20px; color: #5666F8">
                    Вивчати<span style="margin-left: 5px;">&#8594</span>
                </a>
            </div>
            <div class="card-cplusplus">
                <img src="{% static 'images/cplusplus_logo.svg' %}"
                     width="250" height="120" style="padding-top: 30px; padding-bottom: 20px;">
                <label>C++</label>
                <hr>
                <a href="" style="text-decoration: none; font-weight: 300; font-size: 20px; color: #5666F8;">
                    Вивчати<span style="margin-left: 5px;">&#8594</span>
                </a>
            </div>
            <div class="card-golang">
                <img src="{% static 'images/golang_logo.svg' %}"
                    width="200" height="160" style="padding-top: 10px;">
                <label>GOLANG</label>
                <hr>
                <a href="" style="text-decoration: none; font-weight: 300; font-size: 20px; color: #5666F8">
                    Вивчати<span style="margin-left: 5px;">&#8594</span>
                </a>
            </div>
            <div class="card-php">
                <img src="{% static 'images/php_logo.svg' %}"
                     width="250" height="170">
                <label>PHP</label>
                <hr>
                <a href="" style="text-decoration: none; font-weight: 300; font-size: 20px; color: #5666F8">
                    Вивчати<span style="margin-left: 5px;">&#8594</span>
                </a>
            </div>
        </div>
    </div>
    <div class="vertical-line-4">

    </div>
    <div class="card-how-we-work"><a id="start-learning"></a>
        <h4 class="how-to-start-title">ЯК РОЗПОЧАТИ НАВЧАННЯ</h4>
        <div class="row">
            <div class="steps-images">
                <img class="steps-group" src="{% static 'images/steps_group_ua.png' %}">
                <img class="grid-3" src="{% static 'images/grid_2.svg' %}">
            </div>
            <div class="steps-description">
                <p style="margin-top: 0; margin-left: -50px;">
                    Щоб розпочати навчання перейди за посиланням “Вивчати”, “Спробувати”або “Вхід”.</p>
                <p style="margin-top: 90px; margin-left: 30px;">
                    Виберіть мову, яку хочете вивчити, і почитайте теорію з кількох карток-порад. Потім здайте тести
                 з 2 теоретичних та 6 практичних завдань.</p>
                <p style="margin-top: 100px; margin-left: -50px;">
                    Заєреструйся і починай вчитися разом за нами.</p>
                <button class="btn-try-it-2" onclick="location.href={% url 'programing_language_choice_ua' %}">
                    СПРОБУВАТИ<span style="padding-left: 15px;">&#10095;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="vertical-line-5">

    </div>
    <div class="card-for-teams-schools"><a id="for-teams-schools"></a>
        <div class="row">
            <div class="for-schools">
                <label style="margin-top: 70px; margin-bottom: 50px;">ДЛЯ ШКОЛИ</label>
                <img src="{% static 'images/for_schools.png' %}"
                     style="margin-left: auto; margin-right: auto; margin-bottom: 25px;">
                <div class="email-input">
                    <input placeholder="Введіть E-MAIL">
                    <button class="btn-join">ПРИЄДНАТИСЯ</button>
                </div>
            </div>
            <div class="for-teams">
                <label style="margin-top: 70px;">ДЛЯ КОМАНДИ</label>
                <img src="{% static 'images/for_teams.png' %}"
                     style="margin-left: auto; margin-right: auto; margin-bottom: 40px;">
                <div class="email-input">
                    <input placeholder="Введіть E-MAIL">
                    <button class="btn-join">ПРИЄДНАТИСЯ</button>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="row">
            <div class="footer-title">
                <div class="joo-header">
                    JOO
                </div>
                <div class="tips-header">
                    TIPS
                </div>
            </div>
            <nav class="footer-navbar">
                <a href="#who-we-are">ХТО МИ Є</a>
                <a href="#start-learning">РОЗПОЧАТИ НАВЧАННЯ</a>
                <a href="#for-teams-schools">ДЛЯ КОМАНД</a>
                <a href="#for-teams-schools">ДЛЯ ШКОЛИ</a>
            </nav>
            <div class="social-links">
                <img src="{% static 'images/instagram_logo.png' %}" width="50">
                <img src="{% static 'images/google_logo.png' %}" width="50" style="padding: 50px 20px 0 20px;">
                <img src="{% static 'images/facebook_logo.png' %}" width="50">
            </div>
        </div>
        <div class="copyright">
            &#169; Всі права захищенні.
        </div>
    </footer>
<script type="text/javascript">
    const buttonRight = document.getElementById('slideRight');
    const buttonLeft = document.getElementById('slideLeft');

    buttonRight.onclick = function () {
        document.getElementById('who-we-are-text').scrollLeft += 700;
    };
    buttonLeft.onclick = function () {
        document.getElementById('who-we-are-text').scrollLeft -= 700;
    };
</script>
</body>
</html>
