{% extends 'ua/homepage_ua.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/how_we_work.css' %}">
<div class="row">
    <div class="card-1">
        <div class="card-1-container">
            <p>Ви завантажуєте PWA з нашого сайту</p>
        </div>
    </div>
    <div class="card-2">
        <div class="card-2-container">
            <p>Звичайний урок складається з двох послідовних розділів</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="card-3">
        <div class="card-3-container">
            <p>Ви відчуваєте пробний урок і пробне тестування</p>
        </div>
    </div>
    <div class="card-4">
        <div class="card-4-container">
            <p>Перший розділ являє собою набір флеш-карт із вибраними важливими правилами або конструкціями</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="card-5">
        <div class="card-5-container">
            <p>Ви бачите свої результати і прогрес</p>
        </div>
    </div>
    <div class="card-6">
        <div class="card-6-container">
            <p>Другий розділ — тестування з запитаннями з різними типами вибору для перевірки на основі правил і
                конструкції з показаних флеш-карт</p>
        </div>
    </div>
</div>
{% endblock %}
