<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="icon" href="{% static 'images/JOO_Tips.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="http://fonts.cdnfonts.com/css/galatea">
</head>
<script type="text/javascript">
  function showMessage(){
    if (confirm("Привіт, шановний Гість,\nЩоб отримати можливість зареєструватися на нашому веб-сайті, потрібно пройти перший тест.\n\nСпробуємо?")) {
      location.href = 'http://127.0.0.1:8000/ua/lets-try-it/';
    }
  }
</script>
<body>
<form method="POST">
    {% csrf_token %}
    <div class="card-1">
        <div class="title">
            <p>Мій обліковий запис</p>
        </div>
        <div class="name">
            <input name="username" placeholder="Ім'я" required>
        </div>
<!--        <div class="e-mail">-->
<!--            <input name="e-mail" placeholder="E-mail">-->
<!--        </div>-->
        <div class="password">
            <input name="password" placeholder="Пароль" required>
        </div>
        <div class="row">
            <div>
                <button class="btn-login">Увійти</button>
            </div>
            <div>
                <button class="btn-signup" onclick="showMessage()">Зареєструватися</button>
            </div>
        </div>
        <div class="card-2">
            <div class="container">
                <button class="btn-social">Увійти через Facebook</button>
            </div>
            <div>
                <button class="btn-social">Увійти через Google</button>
            </div>
            <div>
                <button class="btn-social">Увійти через Apple</button>
            </div>
            <div>
                <button class="btn-social">Корпоративний вхід</button>
            </div>
        </div>
        <div class="not-now">
            <a href="/" style="color: #DDDDDD;">Не зараз</a>
        </div>
    </div>
</form>
</body>
</html>
