<!DOCTYPE html>
<html lang="uk">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="icon" href="{% static 'images/JOO_Tips.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="http://fonts.cdnfonts.com/css/galatea">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mulish">
</head>
<body>
    <header>
        <div class="title">
            <div class="joo-header">
                JOO
            </div>
            <div class="tips-header">
                TIPS
            </div>
        </div>
    </header>
    <h1><span>Вхід</span>Реєстрація</h1>
    <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
    <label for="reg-log"></label>
    <div class="card-3d-wrap">
        <div class="card-3d-wrapper">
            <div class="card-front">
                <form method="POST">
                    {% csrf_token %}
                    <div class="card-title">
                        <p>Вхід</p>
                    </div>
                    <div class="name">
                        <img class="user-image" src="{% static 'images/login_user.svg' %}">
                        <input name="username" placeholder="Ім'я" required>
                    </div>
                    <div class="password">
                        <img class="user-image" src="{% static 'images/login_lock_open.svg' %}">
                        <input name="password" type="password" placeholder="Пароль" required>
                    </div>
                    <div class="message">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                    <button class="btn-login" type="submit">
                        Вхід
                    </button>
                </form>
            </div>
            <div class="card-back">
                <form method="POST">
                    {% csrf_token %}
                    <div class="card-title">
                        <p>Реєстрація</p>
                    </div>
                    <div class="name">
                        <img class="user-image" src="{% static 'images/login_user.svg' %}">
                        <input name="username" placeholder="Ім'я" minlength="3" disabled>
                    </div>
                    <div class="e-mail">
                        <img class="email-image" src="{% static 'images/login_at.svg' %}">
                        <input name="email" type="email" placeholder="E-mail" disabled>
                    </div>
                    <div class="password">
                        <img class="lock-image" src="{% static 'images/login_lock_open.svg' %}">
                        <input name="password" id="password" onkeyup="check();" placeholder="Пароль"
                               min="6" maxlength="30" disabled>
                    </div>
                    <div class="password">
                        <img class="lock-image" src="{% static 'images/login_lock_open.svg' %}">
                        <input name="confirm-password" id="confirm_password" onkeyup="check();" placeholder="Підтвердьте пароль"
                               min="6" disabled>
                    </div>
                    <div class="message" id="message">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    <div>
                        <button class="btn-signup" onclick="showMessageUa()">Зареєструватися</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<script src="{% static 'js/login_message.js' %}"></script>
</body>
</html>
