<!DOCTYPE html>
<html lang="uk">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="icon" href="{% static 'images/JOO_Tips.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/progress_statistic.css' %}">
    <link rel="stylesheet" href="http://fonts.cdnfonts.com/css/galatea">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>
<body>
<div class="card-1">
    <div class="title">
        Результат {{ guests_counter }} гостя
    </div>
    <div class="row">
        <div class="card-2">
            <div>
                <div>
                    <label for="test" style="margin-right: 50px;">Бали за тест</label>
                    <input id="test" type="text" value="{{ test_result }}" readonly/>
                </div>
                <div>
                    <label for="today" style="margin-right: 40px;">Бали за день</label>
                    <input id="today" type="text" value="{{ day_result }}" readonly/>
                </div>
                <div>
                    <label for="week" style="margin-right: 10px;">Бали за тиждень</label>
                    <input id="week" type="text" value="{{ week_result }}" readonly/>
                </div>
                <div>
                    <label for="month" style="margin-right: 25px;">Бали за місяць</label>
                    <input id="month" type="text" value="{{ month_result }}" readonly/>
                </div>
                <div>
                    <label for="year" style="margin-right: 60px;">Бали за рік</label>
                    <input id="year" type="text" value="{{ year_result }}" readonly/>
                </div>
            </div>
            <div class="card-3">
                <table id="users">
                    <tr>
                        <td style="width: 20%"><img src="{% static 'images/login.png' %}" height="25" width="30"></td>
                        <td style="text-align: left;">Jack Smith</td>
                        <td style="text-align: right;">44</td>
                    </tr>
                    <tr>
                        <td style="width: 20%"><img src="{% static 'images/login.png' %}" height="25" width="30"></td>
                        <td style="text-align: left;">Anna Donald's</td>
                        <td  style="text-align: right;">32</td>
                    </tr>
                    <tr>
                        <td style="width: 20%"><img src="{% static 'images/login.png' %}" height="25" width="30"></td>
                        <td style="text-align: left;">Ray Farrel</td>
                        <td style="text-align: right;">28</td>
                    </tr>
                    <tr>
                        <td style="width: 20%"><img src="{% static 'images/login.png' %}" height="25" width="30"></td>
                        <td style="text-align: left;">Albert Thomson</td>
                        <td style="text-align: right;">22</td>
                    </tr>
                    <tr>
                        <td style="width: 20%"><img src="{% static 'images/login.png' %}" height="25" width="30"></td>
                        <td style="text-align: left;"><b>Гість</b></td>
                        <td style="text-align: right;">{{ test_result }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card-4">
            <div class="statistic-chart">
            <canvas id="statistic_chart" style="width: 700px; height: 500px;"></canvas>
            <script type="text/javascript">
                var xValues = ["1 день", "2 день", "3 день", "4 день", "5 день", "6 день", "7 день"];
                var yValues = [{{ test_result }}];

                new Chart("statistic_chart", {
                    type: "line",
                    data: {
                        labels: xValues,
                        datasets: [{
                          fill: false,
                          lineTension: 0,
                          backgroundColor: "#ACB0B1",
                          borderColor: "white",
                          data: yValues,
                        }]
                    },
                    options: {
                        legend: {display: false},
                            scales: {
                                xAxes: [{ticks: {min: 0, max: 7, fontColor: "#ACB0B1"}}],
                                yAxes: [{ticks: {min: 0, max: 200, fontColor: "#ACB0B1"}}],
                            }
                    }
                });
            </script>
            </div>
        </div>
    </div>
    <div>
        <button class="btn-signin" onclick="location.href='{% url 'register_ua' %}'">Зареєструватися</button>
    </div>
</div>
</body>
</html>
