<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="icon" href="{% static 'images/JOO_Tips.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/theoretical_test.css' %}">
    <link rel="stylesheet" href="http://fonts.cdnfonts.com/css/galatea">
</head>
<script type="text/javascript">
  var test_timer = setInterval(function() {

  var now = new Date();
  var nowUTC = new Date(now.getUTCFullYear(), now.getUTCMonth(), now.getUTCDate(),
               now.getUTCHours(), now.getUTCMinutes(), now.getUTCSeconds());
  var distance = new Date("{{ timer }}").getTime() - nowUTC;
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  if (minutes < 10) minutes = "0" + minutes;
  if (seconds < 10) seconds = "0" + seconds;

  if (minutes == "00" && seconds < "31") {
    document.getElementById("test_timer").style.color = "red";
  }

  document.getElementById("test_timer").innerHTML = "Час тесту: " + minutes + ":" + seconds;

  if (distance < 0) {
    clearInterval(test_timer);
    document.getElementById("test_timer").innerHTML = "Час тесту: 00:00";
  }
  }, 1000);
</script>
<nav class="nav-bar">
    <div class="test-counter">
        <h1>Теоретичний тест {{ test_counter }} з {{ total_tests }}</h1>
    </div>
    <div class="timer" id="test_timer">
        <h1>{{ test_timer }}</h1>
    </div>
</nav>
<body>
<form method="POST">
    {% csrf_token %}
    <div class="card-1">
        <div class="question">
            <pre class="question">{{ question_ua }}</pre>
        </div>
        <div class="container">
            <div class="row">
                {% for left_context in left_slot %}
                <button class="slot-left" name="slot" value="{{ left_context }}" type="submit" onclick="location.reload()">
                    <pre class="text">{{ left_context }}</pre>
                </button>
                {% endfor %}
            </div>
            <div class="row">
                {% for right_context in right_slot %}
                <button class="slot-right" name="slot" value="{{ right_context }}" type="submit" onclick="location.reload()">
                    <pre class="text">{{ right_context }}</pre>
                </button>
                {% endfor %}
            </div>
        </div>
    </div>
</form>
</body>
</html>
