<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/progress_statistic.css' %}">
    <link rel="stylesheet" href="http://fonts.cdnfonts.com/css/galatea">
</head>
<body>
<div class="card-1">
    <div class="title">
        Результат {{ guests_counter }} гостя
    </div>
    <div class="row">
        <div class="card-2">
            <div>
                <div>
                    <label for="test" style="margin-right: 50px;">Бали за тест</label>
                    <input id="test" type="text" value="{{ test_result }}" readonly/>
                </div>
                <div>
                    <label for="today" style="margin-right: 40px;">Бали за день</label>
                    <input id="today" type="text" value="{{ day_result }}" readonly/>
                </div>
                <div>
                    <label for="week" style="margin-right: 10px;">Бали за тиждень</label>
                    <input id="week" type="text" value="{{ week_result }}" readonly/>
                </div>
                <div>
                    <label for="month" style="margin-right: 25px;">Бали за місяць</label>
                    <input id="month" type="text" value="{{ month_result }}" readonly/>
                </div>
                <div>
                    <label for="year" style="margin-right: 60px;">Бали за рік</label>
                    <input id="year" type="text" value="{{ year_result }}" readonly/>
                </div>
            </div>
            <div class="card-3">
                <table>
                    <tr>
                        <td style="width: 20%"><img src="{% static 'images/login.png' %}" height="25" width="30"></td>
                        <td style="text-align: left;">Jack Smith</td>
                        <td style="text-align: right;">424</td>
                    </tr>
                    <tr>
                        <td style="width: 20%"><img src="{% static 'images/login.png' %}" height="25" width="30"></td>
                        <td style="text-align: left;">Anna Donald's</td>
                        <td  style="text-align: right;">310</td>
                    </tr>
                    <tr>
                        <td style="width: 20%"><img src="{% static 'images/login.png' %}" height="25" width="30"></td>
                        <td style="text-align: left;">Ray Farrel</td>
                        <td style="text-align: right;">287</td>
                    </tr>
                    <tr>
                        <td style="width: 20%"><img src="{% static 'images/login.png' %}" height="25" width="30"></td>
                        <td style="text-align: left;">Albert Thomson</td>
                        <td style="text-align: right;">259</td>
                    </tr>
                    <tr>
                        <td style="width: 20%"><img src="{% static 'images/login.png' %}" height="25" width="30"></td>
                        <td style="text-align: left;"><b>Гість</b></td>
                        <td style="text-align: right;">240</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card-4">
            <div>

            </div>
        </div>
    </div>
    <div>
        <button class="btn-signin" onclick="location.href='{% url 'register_ua' %}'">Зареєструватися</button>
    </div>
</div>
</body>
</html>
