<!DOCTYPE html>
<html lang="uk">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="icon" href="{% static 'images/JOO_Tips.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="http://fonts.cdnfonts.com/css/galatea">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mulish">
</head>
<body>
<header>
        <div class="title">
            <div class="joo-header">
                JOO
            </div>
            <div class="tips-header">
                TIPS
            </div>
        </div>
    </header>
    <div class="card-main">
        <form method="POST">
            {% csrf_token %}
            <div class="card-main-title">
                <p>Реєстрація</p>
            </div>
            <div class="name">
                <img class="user-image" src="{% static 'images/login_user.svg' %}">
                <input name="username" placeholder="Ім'я" minlength="3" required>
            </div>
            <div class="e-mail">
                <img class="email-image" src="{% static 'images/login_at.svg' %}">
                <input name="email" type="email" placeholder="E-mail" required>
            </div>
            <div class="password">
                <img class="lock-image" src="{% static 'images/login_lock_open.svg' %}">
                <input name="password" id="password" onkeyup="check();" placeholder="Пароль"
                       min="6" maxlength="30" required>
            </div>
            <div class="password">
                <img class="lock-image" src="{% static 'images/login_lock_open.svg' %}">
                <input name="confirm-password" id="confirm_password" onkeyup="check();" placeholder="Підтвердьте пароль"
                       min="6" required>
            </div>
            <div class="message" id="message">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            <div>
                <button class="btn-signup" type="submit" id="submit" disabled>Зареєструватися</button>
            </div>
        </form>
    </div>
<script src="{% static 'js/check_password_ua.js' %}"></script>
</body>
</html>
