<!DOCTYPE html>
<html lang="uk">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="icon" href="{% static 'images/JOO_Tips.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/timer_header.css' %}">
    <link rel="stylesheet" href="http://fonts.cdnfonts.com/css/galatea">
</head>
<script type="text/javascript">
  var lesson_timer = setInterval(function() {

  var now = new Date();
  var nowUTC = new Date(now.getUTCFullYear(), now.getUTCMonth(), now.getUTCDate(),
               now.getUTCHours(), now.getUTCMinutes(), now.getUTCSeconds());
  var distance = new Date("{{ lesson_time }}").getTime() - nowUTC;
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  if (minutes < 10) minutes = "0" + minutes;
  if (seconds < 10) seconds = "0" + seconds;

  if (minutes == "00" && seconds < "31") {
    document.getElementById("lesson_timer").style.color = "red";
  }

  document.getElementById("lesson_timer").innerHTML = "Час уроку: " + minutes + ":" + seconds;

  if (distance < 0) {
    clearInterval(lesson_timer);
    document.getElementById("lesson_timer").innerHTML = "Час уроку: 00:00";
  }
  }, 1000);
</script>
<nav class="timer" id="lesson_timer">
    <div>
        <h1>{{ lesson_timer }}</h1>
    </div>
</nav>
<script type="text/javascript">
  var test_timer = setInterval(function() {

  var now = new Date();
  var nowUTC = new Date(now.getUTCFullYear(), now.getUTCMonth(), now.getUTCDate(),
               now.getUTCHours(), now.getUTCMinutes(), now.getUTCSeconds());
  var distance = new Date("{{ timer }}").getTime() - nowUTC;
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  if (minutes < 10) minutes = "0" + minutes;
  if (seconds < 10) seconds = "0" + seconds;

  if (minutes == "00" && seconds < "31") {
    document.getElementById("test_timer").style.color = "red";
  }

  document.getElementById("test_timer").innerHTML = "Час тесту: " + minutes + ":" + seconds;

  if (distance < 0) {
    clearInterval(test_timer);
    document.getElementById("test_timer").innerHTML = "Час тесту: 00:00";
  }
  }, 1000);
</script>
<nav class="timer" id="test_timer">
    <div>
        <h1>{{ test_timer }}</h1>
    </div>
</nav>
<body>
{% block content %}


{% endblock %}
</body>
</html>
