{% extends 'ua/users_homepage_ua.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/users_clipboards_desk.css' %}">
<div class="card-1">
    <div class="clipboards-desk">
        <div class="label">
            <h4>Основи</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" class="clipboard"></button>
        </div>
        <div class="label">
            <h4>Змінні</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" class="clipboard"></button>
        </div>
        <div class="label">
            <h4>Типи даних</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" class="clipboard"></button>
        </div>
        <div class="label">
            <h4>Винятки</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" class="clipboard"></button>
        </div>
        <div class="label">
            <h4>Pядки</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" class="clipboard"></button>
        </div>
        <div class="label">
            <h4>Списки</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" class="clipboard"></button>
        </div>
        <div class="label">
            <h4>Кортежи</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" class="clipboard"></button>
        </div>
        <div class="label">
            <h4>Cловники</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" class="clipboard"></button>
        </div>
        <div class="label">
            <h4>Множини</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" class="clipboard"></button>
        </div>
        <div class="label">
            <h4>Масиви та пов’язані списки</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" class="clipboard"></button>
        </div>
        <div class="label">
            <h4>Стеки та черги</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" class="clipboard"></button>
        </div>
        <div class="label">
            <h4>Хеш-таблиці</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" class="clipboard"></button>
        </div>
        <div class="label">
            <h4>Ітератори</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" class="clipboard"></button>
        </div>
        <div class="label">
            <h4>Файли</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" class="clipboard"></button>
        </div>
        <div class="label">
            <h4>Рекурсія</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" class="clipboard"></button>
        </div>
        <div class="label">
            <h4>Сортування</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" class="clipboard"></button>
        </div>
        <div class="label">
            <h4>Функції та вбудовані функції</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" class="clipboard"></button>
        </div>
        <div class="label">
            <h4>Lambda функції</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" class="clipboard"></button>
        </div>
        <div class="label">
            <h4>Декоратори</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" class="clipboard"></button>
        </div>
        <div class="label">
            <h4>Регулярні вирази</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" class="clipboard"></button>
        </div>
        <div class="label">
            <h4>Класи</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" class="clipboard"></button>
        </div>
        <div class="label">
            <h4>Магічні методи</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" class="clipboard"></button>
        </div>
        <div class="label">
            <h4>Модулі</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" class="clipboard"></button>
        </div>
        <div class="label">
            <h4>PIP & PYPI</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" class="clipboard"></button>
        </div>
        <div class="label">
            <h4>Основи Git</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" class="clipboard"></button>
        </div>
        <div class="label">
            <h4>GitHub, GitLab, Bitbucket</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" class="clipboard"></button>
        </div>
        <div class="label">
            <h4>Flask</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" class="clipboard"></button>
        </div>
        <div class="label">
            <h4>Pyramid</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" class="clipboard"></button>
        </div>
        <div class="label">
            <h4>Django</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" class="clipboard"></button>
        </div>
        <div class="label">
            <h4>Gevent</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" class="clipboard"></button>
        </div>
        <div class="label">
            <h4>Sanic</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" class="clipboard"></button>
        </div>
        <div class="label">
            <h4>Tornado</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" class="clipboard"></button>
        </div>
        <div class="label">
            <h4>AIOHTTP</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" class="clipboard"></button>
        </div>
        <div class="label">
            <h4>Nose</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" class="clipboard"></button>
        </div>
        <div class="label">
            <h4>Pytest</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" class="clipboard"></button>
        </div>
        <div class="label">
            <h4>Doctest</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" class="clipboard"></button>
        </div>
        <div class="label" style="margin-bottom: 110px;">
            <h4>Unittest & PyUnit</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" class="clipboard"></button>
        </div>
    </div>
</div>
{% endblock%}
