<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="icon" href="{% static 'images/JOO_Tips.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/users_homepage.css' %}">
    <link rel="stylesheet" href="http://fonts.cdnfonts.com/css/galatea">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<header class="navbar">
    <button class="btn-logout" onclick="location.href='{% url 'log_out_ua' %}'">
        <i class="fa fa-sign-out" style="font-size: 30px"></i>
    </button>
    <div class="user">
        <img src="{% static 'images/login.png' %}" height="35" width="40" style="margin-right: 15px;">
        {{ request.user.username }}
    </div>
    <button class="btn-price-list" onclick="location.href='{% url 'users_store_ua' %}'">
        <i class="fa fa-industry" aria-hidden="false" style="font-size: 25px;"></i>
<!--        <img src="{% static 'images/dollar.png' %}" height="45" width="45">-->
    </button>
</header>
<main>
    {% block content %}


    {% endblock %}
</main>
<footer class="footer">
    <button class="btn-footer">
        <i class="fa fa-book" style="font-size: 25px"></i><span> Теми</span>
    </button>
    <button class="btn-footer">
        <i class="fa fa-check" style="font-size: 25px"></i><span> Тести</span>
    </button>
    <button class="btn-footer">
        <i class="fa fa-pie-chart" style="font-size: 25px"></i><span> Результати</span>
    </button>
    <button class="btn-footer">
        <i class="fa fa-bar-chart" style="font-size: 25px"></i><span> Лідери</span>
    </button>
    <button class="btn-footer">
        <i class="fa fa-shopping-cart" style="font-size: 25px"></i><span> Магазин</span>
    </button>
</footer>
</html>
