<!DOCTYPE html>
<html lang="uk">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>
    <link rel="icon" href="{% static 'images/JOO_Tips.png' %}" type="image/png">
    <link rel="stylesheet" href="http://fonts.cdnfonts.com/css/galatea">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mulish">
    <link rel="stylesheet" href="{% static 'css/web_site_in_process.css' %}">
</head>
<body>
    <img class="vector-1-image" src="{% static 'images/vector_1.svg' %}">
    <header>
        <div class="title">
            <div class="joo-header">
                <a href="/ua">JOO</a>
            </div>
            <div class="tips-header">
                TIPS
            </div>
        </div>
    </header>
    <img class="building-image" src="{% static 'images/building_image.svg' %}">
    <h1><span>Веб-сайт</span> в процесі розробки!</h1>
    <img class="vector-2-image" src="{% static 'images/vector_2.svg' %}">
</body>
</html>
