{% extends 'ua/homepage_ua.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/who_we_are.css' %}">
<div class="card">
    <div class="card-container">
        <p>Приватний комерційний стартап, який створює та розробляє платформу для вивчення мови програмування що
            допоможе вам розвинути ваше розуміння коду та покращити синтаксис регулярно й щоденно вправи прямо на телефоні.</p>
        <p>Трюки платформи Joo:</p>
        <p>Використовуючи стратегії гейміфікації, ми допомагаємо вам швидко й ефективно вивчати мови програмування.</p>
        <p>Спершу зосередьтесь на основах, а не на окремих командах.</p>
        <p>Зосереджуючись на основах, ви почнете запам’ятовувати найпоширеніші конструкції та будувати логіку.</p>
        <p>Вивчити синтаксис мов.</p>
        <p>За допомогою різноманітних прийомів повторення Joo допоможе вам запам’ятати, а головне, зрозуміти,
            що і де використовується синтаксис і чому.</p>
        <p>Потренуйтеся оцінювати фрагменти реального коду.</p>
        <p>Перевірка робочого коду дозволить вам звикнути та відразу впізнати що таке код і як він працює.</p>
        <p>Закріплення знань за допомогою системи тестів і повторень.</p>
        <p>Joo використовує ефективні технології навчання, запам’ятовування та тестування на повторення, щоб допомогти
            вам швидко навчатися матеріал до рівня впевненого розробника.</p>
    </div>
</div>
{% endblock %}