<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="icon" href="{% static 'images/JOO_Tips.png' %}" type="image/png">
    <link rel="stylesheet" href="http://fonts.cdnfonts.com/css/galatea">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
</head>
<body>
    <div class="card-main">
        <header class="header">
            <div class="title">
                <div class="joo-header">
                    JOO
                </div>
                <div class="tips-header">
                    TIPS
                </div>
            </div>
            <nav class="navbar">
                <a href="#who-we-are">WHO WE ARE</a>
                <a href="#start-learning">START LEARNING</a>
                <a href="#for-teams">FOR TEAMS</a>
                <a href="#for-schools">FOR SCHOOLS</a>
            </nav>
            <button class="btn-login" onclick="location.href={% url 'log_in' %}">
                LOG IN
            </button>
            <select class="language" onchange="this.options[this.selectedIndex].value &&
                                                (window.location = this.options[this.selectedIndex].value);">
                <option value="http://192.168.0.115:8000">
                    EN
                </option>
                <option value="http://192.168.0.115:8000/ua/">
                    UA
                </option>
            </select>
            <!---------Mobile version-------->
            <nav class="mobile-navbar">
                <label for="mobile-dropdown">
                    <img src="{% static 'images/mobile_bar.svg' %}" width="50" height="50">
                </label>
                <input type="checkbox" id="mobile-dropdown">
                <div class="dropdown-slide">
                        <a href="#who-we-are">WHO WE ARE</a>
                        <a href="#start-learning">START LEARNING</a>
                        <a href="#for-schools">FOR SCHOOLS</a>
                        <a href="#for-teams">FOR TEAMS</a>
                    <div style="display: flex;">
                        <button class="mobile-btn-login" onclick="location.href={% url 'log_in' %}">
                            LOG IN
                        </button>
                        <select class="mobile-language" onchange="this.options[this.selectedIndex].value &&
                        (window.location = this.options[this.selectedIndex].value);">
                            <option value="http://192.168.0.115:8000">
                                EN
                            </option>
                            <option value="http://192.168.0.115:8000/ua/">
                                UA
                            </option>
                        </select>
                    </div>
                </div>
            </nav>
            <!------------------------------->
        </header>
        <div class="joo-background">
            JOO
        </div>
        <div class="row">
            <div class="it-profession">
                <h1><span style="color: #EB4510;">IT - </span>PROFESSION</h1>
                <h4>for pupils and adults</h4>
                <p class="text-main">
                    Hundreds of cards-tips, thousands of different tests, lessons from 5 to 30 minutes
                    at a time convenient for you and of course all sorts of things from the game world -
                    championships, cups, PvP, and that's not all!</p>
                <button class="btn-try-it-1" onclick="location.href={% url 'programing_language_choice' %}">
                    TRY IT<span style="padding-left: 15px;">&#10095;</span>
                </button>
            </div>
            <img class="cube-1" src="{% static 'images/cube_1.svg' %}">
            <img class="cube-2" src="{% static 'images/cube_2.svg' %}">
        </div>
        <div class="tips-background">
            TIPS
        </div>
    </div>

    <div class="card-goals">
        <h4 class="goals-title">WHAT COURSES GIVE YOU</h4>
        <div class="row">
            <div class="lamp-brain">
                <img src="{% static 'images/lamp_brain.png' %}" width="106">
                <h5>SKILLS DEVELOPMENT</h5>
            </div>
            <div class="lamp-gear">
                <img src="{% static 'images/lamp_gear.png' %}" width="106">
                <h5>USEFUL HOBBY</h5>
            </div>
            <div class="lamp-target">
                <img src="{% static 'images/lamp_target.png' %}" width="106">
                <h5>PROSPECTIVE PROFESSION</h5>
            </div>
        </div>
    </div>

    <div class="card-who-we-are"><a id="who-we-are"></a>
        <h4 class="who-we-are-title">WHO WE ARE</h4>
        <img class="who-we-are-underline" src="{% static 'images/who_we_are_underline.svg' %}">
        <img class="background-arrows-1" src="{% static 'images/background_arrows.svg' %}">
        <img class="who-we-are-image" src="{% static 'images/who_we_are.svg' %}">
        <div class="who-we-are-text">
            <p>JOO TIPS is a digital game academy that helps middle and high classes pupils, as well as
                students, learn the most common programming languages conveniently and without congestion.</p>
            <p>Thanks to the convenient format of educational material, which is presented by small
                cards-tips and to the system of theoretical and practical tests, the user acquires the
                necessary knowledge and immediately learn to use them in practice.</p>
        </div>
    </div>

    <div class="card-languages">
        <img class="grid-2" src="{% static 'images/grid_2.svg' %}">
        <h4 class="languages-title">PROGRAMMING LANGUAGES</h4>
        <div class="cards-row" >
            <div class="row">
                <div class="card-python">
                    <img class="python-logo-image" src="{% static 'images/python_logo.svg' %}">
                    <label>PYTHON</label>
                    <a href="">Learn &#8594</a>
                </div>
                <div class="card-javascript">
                    <img class="javascript-logo-image" src="{% static 'images/javascript_logo.svg' %}">
                    <label>JAVASCRIPT</label>
                    <a href="">Learn &#8594</a>
                </div>
                <div class="card-java">
                    <img class="java-logo-image" src="{% static 'images/java_logo.svg' %}">
                    <label>JAVA</label>
                    <a href="">Learn &#8594</a>
                </div>
                <div class="card-swift">
                    <img class="swift-logo-image" src="{% static 'images/swift_logo.svg' %}">
                    <label>SWIFT</label>
                    <a href="">Learn &#8594</a>
                </div>
            </div>
            <div class="row">
                <div class="card-csharp">
                    <img class="csharp-logo-image" src="{% static 'images/csharp_logo.svg' %}">
                    <label>C#</label>
                    <a href="">Learn &#8594</a>
                </div>
                <div class="card-cplusplus">
                    <img class="cplusplus-logo-image" src="{% static 'images/cplusplus_logo.svg' %}">
                    <label>C++</label>
                    <a href="">Learn &#8594</a>
                </div>
                <div class="card-golang">
                    <img class="golang-logo-image" src="{% static 'images/golang_logo.svg' %}">
                    <label>GOLANG</label>
                    <a href="">Learn &#8594</a>
                </div>
                <div class="card-php">
                    <img class="php-logo-image" src="{% static 'images/php_logo.svg' %}">
                    <label>PHP</label>
                    <a href="">Learn &#8594</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card-how-to-start"><a id="start-learning"></a>
        <h4 class="how-to-start-title">HOW TO START LEARNING</h4>
        <div class="row">
            <div class="steps-description">
                <img class="mobile-step-01-image" src="{% static 'images/mobile_step_01.svg' %}">
                <div class="step-01">
                    <img class="step-1-image" src="{% static 'images/step_1.svg' %}">
                    <p>To start learning, go to the link "Learn", "TRY IT" or "LOG IN".</p>
                </div>
                <img class="mobile-step-02-image" src="{% static 'images/mobile_step_02.svg' %}">
                <div class="step-02">
                    <img class="step-2-image" src="{% static 'images/step_2.svg' %}">
                    <p>Choose the language you want to learn and read theory from few cards-tips. Then take the tests
                        from 2 theoretical and 6 practical tasks.</p>
                </div>
                <img class="mobile-step-03-image" src="{% static 'images/mobile_step_03.svg' %}">
                <div class="step-03">
                    <img class="step-3-image" src="{% static 'images/step_3.svg' %}">
                    <p>Sign up and start learning with us!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card-for-teams-schools">
        <div class="row">
            <div class="for-schools"><a id="for-schools"></a>
                <label class="for-schools-title">FOR SCHOOLS</label>
                <img class="for-schools-image" src="{% static 'images/for_schools.png' %}">
                <div class="email-input">
                    <input placeholder="Enter E-MAIL">
                    <button class="btn-join">JOIN</button>
                </div>
            </div>
            <div class="for-teams"><a id="for-teams"></a>
                <label class="for-teams-title">FOR TEAMS</label>
                <img class="for-teams-image" src="{% static 'images/for_teams.png' %}">
                <div class="email-input">
                    <input placeholder="Enter E-MAIL">
                    <button class="btn-join">JOIN</button>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="row">
            <div class="footer-title">
                <div class="joo-header">
                    JOO
                </div>
                <div class="tips-header">
                    TIPS
                </div>
            </div>
            <nav class="footer-navbar">
                <a href="#who-we-are">WHO WE ARE</a>
                <a href="#start-learning">START LEARNING</a>
                <a href="#for-teams">FOR TEAMS</a>
                <a href="#for-schools">FOR SCHOOLS</a>
            </nav>
            <div class="social-links">
                <img src="{% static 'images/instagram_logo.png' %}" width="50">
                <img src="{% static 'images/google_logo.png' %}" width="50" style="padding: 50px 20px 0 20px;">
                <img src="{% static 'images/facebook_logo.svg' %}" width="50">
            </div>
        </div>
        <div class="copyright">
            &#169; All rights reserved.
        </div>
    </footer>
<script src="{% static 'js/slider.js' %}" type="text/javascript"></script>
</body>
</html>
