{% extends 'homepage.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/how_we_work.css' %}">
<div class="row">
</div>
<div class="row">
    <div class="card-1">
        <div class="card-1-container">
            <p>You experience trial lesson and trial testing</p>
        </div>
    </div>
    <div class="card-2">
        <div class="card-2-container">
            <p>First section is a pack of flash cards with distilled important rules or constructions</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="card-3">
        <div class="card-3-container">
            <p>You see your results and progress</p>
        </div>
    </div>
    <div class="card-4">
        <div class="card-4-container">
            <p>Second section is testing with questions with different types of choice to check based on rules
                and constructions from shown flash cards</p>
        </div>
    </div>
</div>
{% endblock %}
