<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="icon" href="{% static 'images/JOO_Tips.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="http://fonts.cdnfonts.com/css/galatea">
</head>
<body>
<form method="POST">
    {% csrf_token %}
    <div class="card-1">
        <div class="title">
            <p>My account</p>
        </div>
        <div class="name">
            <input name="username" placeholder="Name" required>
        </div>
<!--        <div class="e-mail">-->
<!--            <input name="e-mail" placeholder="E-mail">-->
<!--        </div>-->
        <div class="password">
            <input name="password" type="password" placeholder="Password" required>
        </div>
        <div class="message">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
        <div class="row">
            <div>
                <button class="btn-login" type="submit">Log in</button>
            </div>
            <div>
                <button class="btn-signup" onclick="showMessage()">Sign up</button>
            </div>
        </div>
        <div class="card-2">
            <div class="container">
                <button class="btn-social">Log in with Facebook</button>
            </div>
            <div>
                <button class="btn-social">Log in with Google</button>
            </div>
            <div>
                <button class="btn-social">Log in with Apple</button>
            </div>
            <div>
                <button class="btn-social">Corporate log in</button>
            </div>
        </div>
        <div class="not-now">
            <a href="/" style="color: #DDDDDD;">Not now</a>
        </div>
    </div>
</form>
<script type="text/javascript">
  function showMessage(){
    if (confirm("Hello dear Guest,\nFor get possibility to register on our website you need to pass your first test.\n\nLet`s try it?")) {
      location.href = 'http://192.168.0.115:8000/programing-language-choice/';
    }
  }
</script>
</body>
</html>
