{% extends 'mentors_homepage.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/mentors_rating.css' %}">
<div class="card-1">
    <div class="row">
        <div class="card-2">
            <button class="card-2-button">Personal</button>
            <button class="card-2-button">Class</button>
            <button class="card-2-button">School</button>
            <button class="card-2-button">City</button>
        </div>
        <div class="card-3">
            <button class="card-3-button">Classes</button>
            <button class="card-3-button">Schools</button>
            <button class="card-3-button">Cities</button>
            <button class="card-3-button">Countries</button>
        </div>
    </div>
    <div class="card-4">
        <table>

        </table>
    </div>
</div>
{% endblock %}
