<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'css/programing_language_choice.css' %}">
<link rel="stylesheet" href="http://fonts.cdnfonts.com/css/galatea">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="card-1">
        <div class="card-1-container">
            <h1>I want to learn</h1>
            <a href="{% url 'python_themes_time' %}"><img src="{% static 'images/python.png' %}" width="100"></a>
            <a href="{% url 'golang_themes_time' %}"><img src="{% static 'images/golang.png' %}" height="110"></a>
            <a href="{% url 'javascript_themes_time' %}"><img src="{% static 'images/javascript.png' %}" width="100"></a>
        </div>
    </div>
</body>
</html>
