{% extends 'timer_header.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/theory_cards.css' %}">
<div class="card-1">
    <div class="hs">
        <div></div>
        {% for context in text %}
        <div class="card-1-container">
            <pre class="text">{{ context }}</pre>
        </div>
        {% endfor %}
    </div>
    <div>
        <button class="btn-start"><a style="text-decoration: none; color: black;"
                         href="{% url 'python_theoretical_test' %}">START TEST</a>
        </button>
    </div>
</div>
{% endblock %}
