<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/practical_test.css' %}">
    <link rel="stylesheet" href="http://fonts.cdnfonts.com/css/galatea">
</head>
<script type="text/javascript">
  var test_timer = setInterval(function() {

  var now = new Date();
  var nowUTC = new Date(now.getUTCFullYear(), now.getUTCMonth(), now.getUTCDate(),
               now.getUTCHours(), now.getUTCMinutes(), now.getUTCSeconds());
  var distance = new Date("{{ timer }}").getTime() - nowUTC;
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  if (minutes < 10) minutes = "0" + minutes;
  if (seconds < 10) seconds = "0" + seconds;

  if (minutes == "00" && seconds < "31") {
    document.getElementById("test_timer").style.color = "red";
  }

  document.getElementById("test_timer").innerHTML = "Test time: " + minutes + ":" + seconds;

  if (distance < 0) {
    clearInterval(test_timer);
    document.getElementById("test_timer").innerHTML = "Test time: 00:00";
  }
  }, 1000);
</script>
<nav class="timer" id="test_timer">
    <div>
        <h1>{{ test_timer }}</h1>
    </div>
</nav>
<body>
<!--<form method="POST">-->
<!--    {% csrf_token %}-->
    <div class="card-1">
        <div class="question">
            <pre class="question">{{ question }}</pre>
        </div>
        <div class="row">
            <div class="card-2">
                <pre class="text">{{ code }}</pre>
            </div>
            <div class="card-3">
                {% for context in slots %}
                    <button class="slots" name="slots" type="submit">
                    <a style="text-decoration: none; color: #C1C1C1;" href="{% url 'python_progress_statistic_guests' %}">
                        <pre class="text">{{ context }}</pre></a>
                    </button>
                {% endfor %}
            </div>
        </div>
    </div>
<!--</form>-->
</body>
</html>
