<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="http://fonts.cdnfonts.com/css/galatea">
</head>
<body>
<form method="POST">
    {% csrf_token %}
    <div class="card-1">
        <div class="title">
            <p>Register page</p>
        </div>
        <div class="name">
            <input name="name" placeholder="Name">
        </div>
        <div class="e-mail">
            <input name="e-mail" placeholder="E-mail">
        </div>
        <div class="password">
            <input name="password" placeholder="Password">
        </div>
        <div class="password">
            <input name="confirm-password" placeholder="Confirm password">
        </div>
        <div class="row">
            <div>
                <button class="btn-login" type="submit">Log in</button>
            </div>
            <div>
                <button class="btn-signup" type="submit">Sign up</button>
            </div>
        </div>
        <div class="card-2">
            <div class="container">
                <button class="btn-social">Sign in with Facebook</button>
            </div>
            <div>
                <button class="btn-social">Sign in with Google</button>
            </div>
            <div>
                <button class="btn-social">Sign in with Apple</button>
            </div>
            <div>
                <button class="btn-social">Corporate sign in</button>
            </div>
        </div>
        <div class="not-now">
            <a href="/" style="color: #DDDDDD;">Not now</a>
        </div>
    </div>
</form>
</body>
</html>
