{% extends 'teachers_homepage.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/teachers_create_event.css' %}">
<div class="card-1">
    <h1 class="label">Tournament dates</h1>
    <div class="row">
        <div class="card-2">
            <input name="tournament_start_date" type="date">
        </div>
        <div class="card-3">
            <input name="tournament_end_date" type="date">
        </div>
    </div>
    <h1>Registration dates</h1>
    <div class="row">
        <div class="card-2">
            <input name="registration_start_date" type="date">
        </div>
        <div class="card-3">
            <input name="registration_end_date" type="date">
        </div>
    </div>
    <h1>Tournament time</h1>
    <div class="row">
        <div class="card-2">
            <input name="tournament_start_time" type="time">
        </div>
        <div class="card-3">
            <input name="tournament_end_time" type="time">
        </div>
    </div>
    <h1 class="label">Programming languages</h1>
    <div class="row">
        <div class="card-4">
            <button class="card-4-button">
                <img src="{% static 'images/python.png' %}">
            </button>
            <button class="card-4-button">
                <img src="{% static 'images/golang.png' %}" style="width: 90px;">
            </button>
            <button class="card-4-button">
                <img src="{% static 'images/c#.png' %}">
            </button>
            <button class="card-4-button">
                <img src="{% static 'images/c++.png' %}">
            </button>
        </div>
        <div class="card-5">
            <button class="card-5-button">
                <img src="{% static 'images/javascript.png' %}">
            </button>
            <button class="card-5-button">
                <img src="{% static 'images/php.png' %}" style="width: 80px;">
            </button>
            <button class="card-5-button">
                <img src="{% static 'images/java.png' %}" style="width: 80px;">
            </button>
            <button class="card-5-button">
                <img src="{% static 'images/r.png' %}">
            </button>
        </div>
    </div>
    <h1 class="label">Themes</h1>
    <div class="row">
        <div class="card-6">
            <button class="card-6-button">Theme</button>
            <button class="card-6-button">Theme</button>
            <button class="card-6-button">Theme</button>
            <button class="card-6-button">Theme</button>
            <button class="card-6-button">Theme</button>
            <button class="card-6-button">Theme</button>
            <button class="card-6-button">Theme</button>
            <button class="card-6-button">Theme</button>
        </div>
        <div class="card-7">
            <button class="card-7-button">Theme</button>
            <button class="card-7-button">Theme</button>
            <button class="card-7-button">Theme</button>
            <button class="card-7-button">Theme</button>
            <button class="card-7-button">Theme</button>
            <button class="card-7-button">Theme</button>
            <button class="card-7-button">Theme</button>
            <button class="card-7-button">Theme</button>
        </div>
        <div class="card-8">
            <button class="card-8-button">Theme</button>
            <button class="card-8-button">Theme</button>
            <button class="card-8-button">Theme</button>
            <button class="card-8-button">Theme</button>
            <button class="card-8-button">Theme</button>
            <button class="card-8-button">Theme</button>
            <button class="card-8-button">Theme</button>
            <button class="card-8-button">Theme</button>
        </div>
        <div class="card-9">
            <button class="card-9-button">Theme</button>
            <button class="card-9-button">Theme</button>
            <button class="card-9-button">Theme</button>
            <button class="card-9-button">Theme</button>
            <button class="card-9-button">Theme</button>
            <button class="card-9-button">Theme</button>
            <button class="card-9-button">Theme</button>
            <button class="card-9-button">Theme</button>
        </div>
    </div>
    <h1 class="label">Complexity</h1>
    <div class="row">
        <div class="card-10">
            <button class="card-10-button">Easy</button>
            <button class="card-10-button">Middle</button>
        </div>
        <div class="card-11">
            <button class="card-11-button">Hard</button>
            <button class="card-11-button">Very hard</button>
        </div>
    </div>
    <h1 class="label">Tournament duration</h1>
    <div class="row">
        <div class="card-12">
            <button class="card-12-button">5 min</button>
            <button class="card-12-button">10 min</button>
            <button class="card-12-button">15 min</button>
        </div>
        <div class="card-13">
            <button class="card-13-button">20 min</button>
            <button class="card-13-button">25 min</button>
            <button class="card-13-button">30 min</button>
        </div>
    </div>
    <h1 class="label">Theory / Practice</h1>
    <div class="row">
        <div class="card-14">
            <button class="card-14-button">20/80</button>
            <button class="card-14-button">40/60</button>
        </div>
        <div class="card-15">
            <button class="card-15-button">60/40</button>
            <button class="card-15-button">80/20</button>
        </div>
    </div>
    <h1 class="label">Title selection</h1>
    <div class="row">
        <div class="card-16">
            <button class="card-16-button">Weekly</button>
            <button class="card-16-button">Monthly</button>
            <button class="card-16-button">Credit</button>
            <button class="card-16-button">Control</button>
        </div>
        <div class="card-17">
            <button class="card-17-button">Autumn</button>
            <button class="card-17-button">Winter</button>
            <button class="card-17-button">Spring</button>
            <button class="card-17-button">Summer</button>
        </div>
        <div class="card-18">
            <button class="card-18-button">Tournament</button>
            <button class="card-18-button">Championship</button>
            <button class="card-18-button">Challenge</button>
            <button class="card-18-button">Final</button>
        </div>
    </div>
    <h1 class="label">Badge selection</h1>
    <div class="row">
        <div class="card-19">
            <button class="card-19-button"></button>
            <button class="card-19-button"></button>
            <button class="card-19-button"></button>
            <button class="card-19-button"></button>
        </div>
        <div class="card-20">
            <button class="card-20-button"></button>
            <button class="card-20-button"></button>
            <button class="card-20-button"></button>
            <button class="card-20-button"></button>
        </div>
        <div class="card-21">
            <button class="card-21-button"></button>
            <button class="card-21-button"></button>
            <button class="card-21-button"></button>
            <button class="card-21-button"></button>
        </div>
        <div class="card-22">
            <button class="card-22-button"></button>
            <button class="card-22-button"></button>
            <button class="card-22-button"></button>
            <button class="card-22-button"></button>
        </div>
        <div class="card-23">
            <button class="card-23-button"></button>
            <button class="card-23-button"></button>
            <button class="card-23-button"></button>
            <button class="card-23-button"></button>
        </div>
        <div class="card-24">
            <button class="card-24-button"></button>
            <button class="card-24-button"></button>
            <button class="card-24-button"></button>
            <button class="card-24-button"></button>
        </div>
        <div class="card-25">
            <button class="card-25-button"></button>
            <button class="card-25-button"></button>
            <button class="card-25-button"></button>
            <button class="card-25-button"></button>
        </div>
        <div class="card-26">
            <button class="card-26-button"></button>
            <button class="card-26-button"></button>
            <button class="card-26-button"></button>
            <button class="card-26-button"></button>
        </div>
    </div>
    <button class="btn-confirm">CONFIRM EVENT</button>
</div>
{% endblock %}
