{% extends 'users_homepage.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/users_clipboards_desk.css' %}">
<div class="card-1">
    <div class="clipboards">
        <div class="label">
            <h4>Basics</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" height="150" width="120"></button>
        </div>
        <div class="label">
            <h4>Variables</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" height="150" width="120"></button>
        </div>
        <div class="label">
            <h4>Data Types</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" height="150" width="120"></button>
        </div>
        <div class="label">
            <h4>Exceptions</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" height="150" width="120"></button>
        </div>
        <div class="label">
            <h4>Strings</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" height="150" width="120"></button>
        </div>
        <div class="label">
            <h4>Lists</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" height="150" width="120"></button>
        </div>
        <div class="label">
            <h4>Tuples</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" height="150" width="120"></button>
        </div>
        <div class="label">
            <h4>Dictionaries</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" height="150" width="120"></button>
        </div>
        <div class="label">
            <h4>Sets</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" height="150" width="120"></button>
        </div>
        <div class="label">
            <h4>Arrays and related lists</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" height="150" width="120"></button>
        </div>
        <div class="label">
            <h4>Stacs queues</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" height="150" width="120"></button>
        </div>
        <div class="label">
            <h4>Hash tables</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" height="150" width="120"></button>
        </div>
        <div class="label">
            <h4>Iterators</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" height="150" width="120"></button>
        </div>
        <div class="label">
            <h4>Files</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" height="150" width="120"></button>
        </div>
        <div class="label">
            <h4>Recursion</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" height="150" width="120"></button>
        </div>
        <div class="label">
            <h4>Sorting</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" height="150" width="120"></button>
        </div>
        <div class="label">
            <h4>Functions and builtin functions</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" height="150" width="120"></button>
        </div>
        <div class="label">
            <h4>Lambda functions</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" height="150" width="120"></button>
        </div>
        <div class="label">
            <h4>Decorators</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" height="150" width="120"></button>
        </div>
        <div class="label">
            <h4>Regular expressions</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" height="150" width="120"></button>
        </div>
        <div class="label">
            <h4>Classes</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" height="150" width="120"></button>
        </div>
        <div class="label">
            <h4>Magic methods</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" height="150" width="120"></button>
        </div>
        <div class="label">
            <h4>Modules</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" height="150" width="120"></button>
        </div>
        <div class="label">
            <h4>PIP & PYPI</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" height="150" width="120"></button>
        </div>
        <div class="label">
            <h4>Basic Git</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" height="150" width="120"></button>
        </div>
        <div class="label">
            <h4>GitHub, GitLab, Bitbucket</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" height="150" width="120"></button>
        </div>
        <div class="label">
            <h4>Flask</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" height="150" width="120"></button>
        </div>
        <div class="label">
            <h4>Pyramid</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" height="150" width="120"></button>
        </div>
        <div class="label">
            <h4>Django</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" height="150" width="120"></button>
        </div>
        <div class="label">
            <h4>Gevent</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" height="150" width="120"></button>
        </div>
        <div class="label">
            <h4>Sanic</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" height="150" width="120"></button>
        </div>
        <div class="label">
            <h4>Tornado</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" height="150" width="120"></button>
        </div>
        <div class="label">
            <h4>AIOHTTP</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" height="150" width="120"></button>
        </div>
        <div class="label">
            <h4>Nose</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" height="150" width="120"></button>
        </div>
        <div class="label">
            <h4>Pytest</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" height="150" width="120"></button>
        </div>
        <div class="label">
            <h4>Doctest</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" height="150" width="120"></button>
        </div>
        <div class="label" style="margin-bottom: 110px;">
            <h4>Unittest & PyUnit</h4>
            <button class="btn-clipboard"><img src="{% static 'images/clipboard.png' %}" height="150" width="120"></button>
        </div>
    </div>
</div>
{% endblock%}
