{% extends 'homepage.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/who_we_are.css' %}">
<div class="card">
    <div class="card-container">
        <p>A private commercial start-up that creates and develops a programming language learning platform
            that helps you develop your understanding of code and improve syntax through regular and daily
            exercises right on your phone.</p>
        <p>Joo platform tricks:</p>
        <p>Using gamification strategies we help you learn programming languages quickly and efficiently.</p>
        <p>Focus on the fundamentals first, rather than individual commands.</p>
        <p>By focusing on the fundamentals, you'll start to memorize the most common constructions and, build logic.</p>
        <p>Learn the syntax of languages.</p>
        <p>Through a variety of repetition techniques, Joo will help you remember and, most importantly,
            understand what and where the syntax is used and why.</p>
        <p>Practice evaluating chunks of real code.</p>
        <p>Examining the working code will allow you to get used to and immediately recognize
            what the code is and how it works.</p>
        <p>Knowledge retention with a system of tests and repetition.</p>
        <p>Joo uses effective learning, memorization, and repetition test technologies to help you quickly learn
            the material to a confident developer level.</p>
    </div>
</div>
{% endblock %}