.goals-section {
  position: relative;
  text-align: center;

  & p {
    text-transform: uppercase;
  }
}
.goals-list-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-around;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}
.goals-title {
  margin-bottom: 78px;

  font-size: 20px;
  font-weight: 700;
  line-height: calc(25 / 20);

  color: #0c3059;
}
.card-goals__images {
  margin-bottom: 18px;

  width: 88px;
  height: 88px;
}
.card-goals__text {
  margin-bottom: 42px;

  font-size: 14px;
  font-weight: 600;
  line-height: calc(16 / 14);
  color: #0c3059;

  &:last-child {
    margin-bottom: 0;
  }
}

.arrow {
  &-theFirst {
    position: absolute;
    top: 60%;
    left: 29%;
  }
  &-theSecond {
    position: absolute;
    top: 60%;
    right: 33%;
    transform: scaleY(-1);
  }
  scale: 1.5;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
