body {
    margin: 0;

    font-family: Galatea;
    font-style: normal;

    background: #163A65;
}

:lang(uk) {
    font-family: Arial;
    font-style: normal;
}

.navbar {
    margin-top: 5%;
    top: 0;
    width: 100%;

    position: fixed;

    display: flex;
}

.btn-logout {
    margin-top: -1%;
    margin-left: 5%;

    height: 60px;
    width: 60px;
    border-radius: 100%;

    color: #505050;

    background: #C4C4C4;
}

.btn-logout:hover {
    background: rgba(70, 70, 70, 0.5);
    color: #DDDDDD;
}

.user {
    margin-top: -0.5%;
    margin-left: 20px;

    font-weight: 500;
    font-size: 25px;
    color: #ACB0B1;
}

.user input {
    margin: 0;

    background: transparent;
    border: none;
}

.btn-price-list {
    margin-top: -1%;
    margin-left: auto;
    margin-right: 6%;

    width: 60px;
    height: 60px;
    border-radius: 100%;

    color: #505050;

    background: #C4C4C4;
}

.btn-price-list:hover {
    background: rgba(70, 70, 70, 0.5);
    color: #DDDDDD;
}

.sidebar {
    margin-top: 11%;

    position: fixed;
    display: grid;
}

.left-sidebar {
    display: grid;
}

.right-sidebar {
    display: grid;
}

.left-button, .right-button {
    margin-bottom: 10px;

    padding: 5px;

    width: 75px;
    height: 65px;

    text-align: center;

    font-weight: 300;
    font-size: 20px;

    color: #505050;

    background: #C4C4C4;
    border-radius: 0 20px 20px 0;
}

.left-button:hover {
    background: rgba(70, 70, 70);
    color: #DDDDDD;
}

.right-button:hover {
    background: rgba(70, 70, 70);
    color: #DDDDDD;
}

.footer {
    margin-bottom: 5%;
    bottom: 0;
    width: 100%;

    position: fixed;

    text-align: center;
}

.btn-footer {
    width: 200px;
    height: 70px;
    margin-right: 1%;

    font-weight: 300;
    font-size: 20px;

    color: #505050;

    background: #C4C4C4;
    border-radius: 20px;
}

.btn-footer:hover {
    background: rgba(70, 70, 70);
    color: #DDDDDD;
}


@media screen and (max-width: 600px) {
    .sidebar {
        margin-top: 150px;
    }

    .btn-price-list {
        margin-right: 9%;
    }

    .footer {
        width: 97%;
        text-align: center;
    }

    .btn-footer {
        width: 67px;
    }

    .footer-span {
        display: none;
    }
}

@media screen and (min-width: 750px) and (max-width: 1024px) {
    .btn-footer {
        width: 115px;
    }
}

@media screen and (min-width: 750px) and (max-width: 1024px) and (orientation: landscape) {
    .sidebar {
        width: 98%;
        display: flex;
    }

    .right-sidebar {
        margin-left: auto;
    }

    .right-button {
        border-radius: 20px 0 0 20px;
    }

    .btn-footer {
        width: 115px;
    }
}
