.card-1 {
    width: 95%;
    min-height: 95vh;
    height: auto;
    margin: 2.5% 2.5% 2.5% 2.5%;

    text-align: center;

    background: #1A4579;
    border-radius: 20px;
}

.row {
    width: 85%;

    padding-top: 15%;

    display: flex;
}

.card-2 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

    display: inline-block;

    width: 400px;
    height: 250px;

    background: rgba(196, 196, 196, 0.1);
    border-radius: 30px;
}

.card-3 {
    display: grid;
}

.card-3-button {
    margin-bottom: 30px;

    width: 320px;
    height: 100px;

    font-weight: 700;
    font-size: 30px;

    color: #ABABAB;

    background: linear-gradient(92.42deg,
        rgba(255, 238, 238, 0.5) -4.28%,
        rgba(255, 255, 255, 0.305) 109.69%);
    border-radius: 20px;
}

button:hover {
    background: rgba(70, 70, 70);
    color: #DDDDDD;
}


@media screen and (max-width: 600px) {
    .row {
        padding-top: 25%;

        display: grid;
    }

    .card-2 {
        margin-left: 22%;

        width: 300px;
    }

    .card-3 {
        margin-left: 25%;
    }

    .card-3-button {
        width: 280px;
    }
}

@media screen and (min-width: 750px) and (max-width: 1024px) {
    .row {
        margin-left: auto;
        margin-right: auto;
    }

    .card-2 {
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 100px;
    }

    .card-3 {
        margin-top: 10px;
        margin-right: 5%;
        margin-bottom: 100px;
    }

    .card-3-button {
        width: 280px;
    }
}
