*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero__title *:not(.grid, .cube),
header *:not(.grid, .cube) {
  z-index: 5;
  position: relative;
}
html {
  scroll-behavior: smooth;
}

#root {
  overflow-x: hidden;
}
body {
  margin: 0;

  font-family: Mulish, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;

  line-height: normal;

  background-color: #ffffff;
}
:lang(uk) {
  font-family: Mulish;
  font-style: normal;
}

a,
li {
  text-decoration: none;
  color: white;
}
ul {
  list-style-type: none;
}

.container {
  width: 100%;
}

.section {
  padding-top: 81.5px;
  padding-bottom: 81.5px;
}

.row {
  position: relative;
}
.is-hidden {
  display: none;
}
