@import "./variables.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero__title *:not(.grid, .cube),
header *:not(.grid, .cube) {
  z-index: 5;
  position: relative;
}
html {
  scroll-behavior: smooth;
}

#root {
  overflow-x: hidden;
}
body {
  margin: 0;

  font-family: Mulish, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;

  line-height: normal;

  background-color: #ffffff;

  &.chakra-ui-light {
    font-family: Mulish, sans-serif;
  }
}
:lang(uk) {
  font-family: Mulish;
  font-style: normal;
}

a,
li {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

.container {
  width: 100%;
}

.section {
  padding-top: 81.5px;
  padding-bottom: 81.5px;
}

.row {
  position: relative;
}
.is-hidden {
  display: none;
}
.visually-hidden {
  opacity: 0 !important;
  user-select: none;

  &:hover {
    cursor: default !important;
  }
}

.button {
  color: $button-text-color;
  background-color: $button-bg-color;

  font-family: Mulish;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;

  width: 135px;
  height: 40px;

  border-radius: 10px;
  border: 2px solid transparent;

  transition-property: color, background-color, border-color;
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  transition-duration: 350ms;

  &:is(:hover, :focus) {
    color: #14355c;
    border-color: #cc8b47;
    background-color: #cc8a47;
  }

  @media screen and (min-width: 768px) {
    width: 198px;
    height: 60px;

    font-size: 16px;
  }
}
