// navigation
$active-color: 000000;

// text
// header
$header-titles: #fff;
$header-IT-accent: #eb4510;

// buttons
$button-text-color: #123257;
$button-bg-color: #fcbc7d;
$button-text-font-size: 14px;

// body
$body-titles: #0c3059;
$body-subtitles: #123054;
$body-language-names: #14355c;
$body-lang-learn-link-color: #4ca2e5;

// forms
$form-title: #123054;
$form-placeholder: rgba(18, 48, 84, 0.55);

// footer
$footer-text-color: rgba(255, 255, 255, 0.49);
