.languages-section {
  text-align: center;
  background-color: #163a65;
  color: white;
}

.languages-title {
  margin-bottom: 83px;
  font-weight: 500;
  font-size: 23px;
  line-height: 1.09; /* Improved readability */

  text-transform: uppercase;
}

.language-cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 5px;

  @media screen and (min-width: 420px) and (max-width: 767px) {
    gap: 33px;
  }

  @media screen and (min-width: 768px) {
    gap: 18px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px; /* Adjusted for better alignment */
  justify-content: flex-start;

  position: relative;
  width: 130px;
  height: 215px;
  cursor: pointer;
  overflow: hidden;

  margin: 0 5px; /* Combined margin rules */
  transform-origin: 50% 50%;
  transform-style: preserve-3d;

  transition: box-shadow 0.4s, filter 0.4s, transform 0.4s;
  transition-timing-function: cubic-bezier(0, 0.73, 0.48, 1);

  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 20px;

  &:hover {
    box-shadow: 0px 14px 12px 0px rgba(0, 0, 0, 0.3);
    filter: brightness(1.1) contrast(0.95) saturate(1);
    transform: rotateX(3deg) translateZ(15px);
  }

  &:hover .card-shine {
    opacity: 0.2;
    transform: rotateZ(210deg) translateX(12%) translateY(32%);
  }

  & a {
    font-size: 15px;
    opacity: 0;
    transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    color: #5666f8;
  }

  &:hover a {
    opacity: 1;
  }

  @media screen and (min-width: 380px) {
    width: 165px;
  }

  @media screen and (min-width: 1024px) {
    width: 200px;
    height: 240px;
  }
}

/* ! - - - - - card animation - - - - - */

.card-wrapper {
  perspective: 300px;
  perspective-origin: 50%;
}

.card .card__text {
  text-transform: uppercase;
}

.card-shine {
  background: linear-gradient(
    to bottom,
    rgba(235, 245, 255, 0) 0%,
    rgba(235, 245, 255, 0.85) 12px,
    rgba(235, 245, 255, 0.75) 20%,
    rgba(210, 210, 210, 0) 60%,
    rgba(10, 10, 10, 0) 85%,
    rgba(10, 10, 10, 0.8) 100%
  );
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateZ(212deg) translateX(12%) translateY(59%);
  transition: opacity 0.6s, transform 0.6s;
  transition-timing-function: cubic-bezier(0, 0.73, 0.48, 1);
  width: 220%;
  height: 100%;
  z-index: 1;
}

/* ! - - - - - - - - - - */

.programming-language-icon {
  height: 90px;
  width: 90px;
}

.card__text {
  position: fixed;
  bottom: 25px;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 500;
  // color: #14355c;
}
