@import "/src/scss/variables.scss";

.textBlock {
  margin-bottom: 45px;

  color: $header-titles;

  & h1,
  & h2,
  & h3 {
    font-weight: 300;

    @media screen and (min-width: 768px) {
      font-weight: 400;
    }
  }

  @media screen and (min-width: 768px) {
    padding-right: 120px;
  }
}
.textBlock h1 {
  font-size: 38px;

  @media screen and (min-width: 768px) {
    font-size: 60px;
  }

  & span {
    color: $header-IT-accent;
  }
}

.textBlock h2 {
  margin-bottom: 43px;

  @media screen and (min-width: 768px) {
    font-size: 45px;
  }
}

.textBlock h3 {
  width: 285px;
  line-height: 132.687%;

  @media screen and (min-width: 360px) {
    width: auto;
  }

  @media screen and (min-width: 768px) {
    font-size: 20px;

    margin-bottom: 130px;
  }
}
