@import "/src/scss/variables.scss";

.textBlock {
  margin-bottom: 45px;

  color: $header-titles;

  & h1,
  & h2,
  & h3 {
    font-weight: 300;
  }
}
.textBlock h1 {
  font-size: 38px;

  & span {
    color: $header-IT-accent;
  }
}

.textBlock h2 {
  margin-bottom: 43px;
}

.textBlock h3 {
  width: 285px;
  line-height: 132.687%;

  @media screen and (min-width: 360px) {
    width: auto;
  }
}
