@import "/src/scss/variables.scss";

.hero__title {
  position: relative;
  padding: 0 0 255px 15px;
  
  @media screen and (min-width: 768px) {
    padding: 0 30px 255px 45px;
  }
  
  background-color: $header-bg-color;
}
